/**
 * @name Rounded Discord
 * @author MarkChan0225
 * @version 0.1.1
 * @description A rounded Discord theme
 * @source https://github.com/MarkChan0225/RoundedDiscord/
*/

@import url(https://MarkChan0225.github.io/RoundedDiscord/src/roundeddiscord.css);

:root {
    --grey:#252629;
    --lightgrey:#323438;
    --darkgrey:#17181a;
    --darkgrey-gradient: linear-gradient(0deg, rgba(37,38,41,1) 0%, rgba(23,24,26,1) 100%);

    --radius: 16px;
}
