

.background_f3801e {
  background-color: var(--background-primary) !important;
}

[class*=userPopoutOverlayBackground] {
  max-height: 60vh;
}

.banner_c3e427 {
  background-color: var(--background-primary-alt) !important;
}

[class^='avatarDecoration_'], [class^='profileEffects_'] {
    display: none;
}

/*kekw*/
