

.background__3baa0 {
  background-color: var(--background-primary) !important;
}

[class*=userPopoutOverlayBackground] {
  max-height: 60vh;
}

.banner__6d414 {
  background-color: var(--background-primary-alt) !important;
}

[class^='avatarDecoration_'], [class^='profileEffects_'] {
    display: none;
}

/*kekw*/
