/* Better Bot Tag By @blade04208 (810962320309878834) */
.botTag__4211a:not(.botTagOP_e48ddb) {
  color: var(--brand-560);
  background-color: var(--brand-260);
  height: 15px;
  padding: 0px 4.4px;
  border-radius: var(--radius);
  margin-top: -1px;
}
.botTag__4211a.botTagCozy_dd88d1:not(.botTagOP_e48ddb) {
  margin-left: 4px;
}
.userPopoutOuter__3884e .botTag__4211a:not(.botTagOP_e48ddb) {
  margin-top: 1.5px;
}
.messageListItem__050f9 .botTag__4211a:not(.botTagOP_e48ddb) {
  margin-top: 1.3px;
}