/* Better Bot Tag By @blade04208 (810962320309878834) */
.botTag_a9e77f:not(.botTagOP_e48ddb) {
  color: var(--brand-560);
  background-color: var(--brand-260);
  height: 15px;
  padding: 0px 4.4px;
  border-radius: var(--radius);
  margin-top: -1px;
}
.botTag_a9e77f.botTagCozy_dd88d1:not(.botTagOP_e48ddb) {
  margin-left: 4px;
}
.userPopoutOuter_c69a7b .botTag_a9e77f:not(.botTagOP_e48ddb) {
  margin-top: 1.5px;
}
.messageListItem_d5deea .botTag_a9e77f:not(.botTagOP_e48ddb) {
  margin-top: 1.3px;
}