/* Better Bot Tag By @blade04208 (810962320309878834) */
.botTag-7aX5WZ:not(.botTagOP-3pUTXu) {
  color: var(--brand-560);
  background-color: var(--brand-260);
  height: 15px;
  padding: 0px 4.4px;
  border-radius: var(--radius);
  margin-top: 4px;
}
.botTag-7aX5WZ.botTagCozy-3NTBvK:not(.botTagOP-3pUTXu) {
  margin-left: 4px;
}
