.container-1NXEtd,
.privateChannels-oVe7HL {
  border-radius: var(--radius);
  margin-bottom: 5px;
}
.sidebar-1tnWFu {
  background: unset;
}
.panels-3wFtMDvar {
  background: var(--bg-overlay-1, var(--background-secondary-alt));
}
.custom-theme-background .scroller-3X7KbA {
  background: var(--bg-overlay-3, var(--background-secondary));
}
.theme-dark.custom-theme-background .channelTextArea-1FufC0 {
  background: var(--bg-overlay-1, var(--background-secondary)) !important;
}
.theme-light.custom-theme-background .channelTextArea-1FufC0 {
  background: var(--bg-overlay-2, var(--background-secondary)) !important;
}
.channelTextArea-1FufC0 {
  background: var(--background-secondary) !important;
}
.theme-light.custom-theme-background .panels-3wFtMD {
  background: var(--bg-overlay-3);
}
.theme-dark.custom-theme-background .panels-3wFtMD {
  background: var(--bg-overlay-1);
}
.panels-3wFtMD {
  background: var(--background-secondary-alt);
}
