.container__7e23c,
.privateChannels__9b518 {
  border-radius: var(--radius);
  margin-bottom: 5px;
}
.sidebar_e031be {
  background: unset;
}
.panels__58331var {
  background: var(--bg-overlay-1, var(--background-secondary-alt));
}
.custom-theme-background .scroller_de945b {
  background: var(--bg-overlay-3, var(--background-secondary));
}
.theme-dark.custom-theme-background .channelTextArea_c2094b {
  background: var(--bg-overlay-1, var(--background-secondary)) !important;
}
.theme-light.custom-theme-background .channelTextArea_c2094b {
  background: var(--bg-overlay-2, var(--background-secondary)) !important;
}
.channelTextArea_c2094b {
  background: var(--background-secondary) !important;
}
.theme-light.custom-theme-background .panels__58331 {
  background: var(--bg-overlay-3);
}
.theme-dark.custom-theme-background .panels__58331 {
  background: var(--bg-overlay-1);
}
.panels__58331 {
  background: var(--background-secondary-alt);
}
/* BetterDiscord */
.content_Pph8t6:not(.hidden__7c832) {
  margin-left: 5px;
}
