#bd-editor-controls button,
#floating-editor-window,
._00943886e1cf89d1-body,
._00943886e1cf89d1-section:only-child,
._00943886e1cf89d1-twitchSectionPreview,
._01014d2e38bd7c76-paymentPane,
._02a39cb2980ceaaf-button,
._02a39cb2980ceaaf-searchResult,
._02e4c53e15067b10-avatarCard,
._02e4c53e15067b10-earningsPreviewContainer,
._02fc893000d95af1-inner,
._05e8e45c587ac6b8-previewContainer,
._0624fc41b766635c-row,
._06ab41fd2ef7af3f-hoverButtonGroup,
._07f9193042954787-content,
._0800c264c81ffaff-container,
._084343c4f11eaaab-contentWrapper,
._084343c4f11eaaab-navButton,
._09f65b4b8a3f8d26-picker,
._0a95c8863b3b3f73-row,
._0b69f200eb3bf411-upsellContainer,
._0be773cf1443f34f-container,
._0c1e8ab5048a296a-addAnotherRuleCardContainer,
._0ccaee68b77c7469-fileWrapper,
._0ccaee68b77c7469-fileWrapper.newMosaicStyle_b52bef,
._0d1eff984b8fd277-wrapper,
._0dfeca4dc5b253f7-analyticsCard,
._0e476089c37c956f-container,
._0e476089c37c956f-tag,
._0ed4fc708cdbac0d-input,
._0f2e83213c878a13-container,
._0f481cbbd7530492-popoutContainer,
._0f481cbbd7530492-topicsDropdownBase,
._0f7dce48ad846f17-upsellOverlay,
._0f7dce48ad846f17-upsellTextContainer,
._10651c5cfe637db6-chipletContainerInner,
._1187745e085c713e-theme,
._12e165c2871a3e75-questsCard,
._13533e3c5791980f-base,
._1405b3b8e8eb5fd0-buttonSection,
._1464f16f3e3c14a9-optionPill,
._1499287dd19d7558-button,
._1499287dd19d7558-presetImage,
._160d8e55254637e5-app button,
._16b66d7b4c923028-applicationLargeImage,
._17daa163c83740ad-upsellContainer,
._19236f7399309688-cameraPreview,
._19fd16f9b3ed863d-tableRowGroup ._19fd16f9b3ed863d-content,
._1a4ef2934d882343-settingCard,
._1ab14d14e9559e7e-baseCardOutline,
._1ccd1ba5cb2270c2-messages,
._1d12e4292536ed76-clipBadge,
._1d12e4292536ed76-clipItem,
._1ef77395cc0630d9-permissionChiplet,
._1feb0fca744244ab-filterOverlay,
._1fed1dd06c7aabf7-accountProfileCard,
._1fed1dd06c7aabf7-background,
._201d5e8a3c09670a-button,
._20c9227d08ac9eca-recentClipsPopout,
._217b73c8e5e3ff6d-collapseable,
._217b73c8e5e3ff6d-collapseable:before,
._231eb2f893fd8406-container,
._234375a3f05ff5ba-inviteContainer,
._23746ba3de9452d8-scroller,
._23977d5b7cef7361-burstGlow,
._23977d5b7cef7361-reaction,
._23977d5b7cef7361-reactionBtn._23977d5b7cef7361-forceShow,
._247cf55b957fdfe1-colorSquareInner,
._247cf55b957fdfe1-gradientBar,
._247cf55b957fdfe1-hexColorPreview,
._247cf55b957fdfe1-hexInputContainer,
._24af7f4d0326ba4f-button:not(._24af7f4d0326ba4f-noHover),
._2637a2609f343032-container,
._270d7a28db32b312-optionButtonWrapper,
._29abc88a80d256a5-cardIcon:after,
._29abc88a80d256a5-cardIcon:before,
._2d0216932913e005-buttons,
._2d060d615a1103be-swatch,
._2dbe1dc734ff26a5-root,
._2dc39186a9b98da4-gif,
._2dc39186a9b98da4-placeholder,
._2dc39186a9b98da4-result,
._2dc39186a9b98da4-result:after,
._2ea32c412048f708-link,
._2ea32c412048f708-wrapper,
._2f4f7eb58b61c328-border,
._2f4f7eb58b61c328-overlayTitle,
._3035983b9baa2465-perks,
._344e69670924b1be-group,
._34940b51cd19b69f-container,
._34c2c51cfce1632e-addReactButton,
._358591fa30baeebc-container,
._36852d62378f0835-previewBorder:before,
._36852d62378f0835-previewBox,
._36dee59b8fa89219-selectionCircle,
._36dee59b8fa89219-themeSelection,
._37ae554d51e1c7d1-wrapper,
._37e49614b9f110a9-container,
._39466562bae551de-selectGuildPseudoCta,
._39bd2f69555bef1b-upsellBanner,
._39ec2e3dfb4fd2f2-clickableImage,
._39ec2e3dfb4fd2f2-clickableImage:after,
._39ec2e3dfb4fd2f2-image,
._3a5a1cbdfaf1e8ec-container,
._3add81a1a1ae9da9-animatedTopPerksCard,
._3c9fafaa748e8195-buttonPreview,
._3d3b08df7e9aa942-content,
._3dc42e3818cdd1d8-container,
._3dcc3c0ee8146302-levelContainer,
._3dde27fb71170aa9-container,
._3e7e2b8d60dda075-testimonialHeroContainer,
._3ed08791a7f98bd7-childButton,
._3efc4041416bf6dc-cardContainerWithoutTopIndicator,
._3efc4041416bf6dc-roleMessagePreview,
._3f11f6a5944d427f-permissionItemContainer,
._3f11f6a5944d427f-roleChiplet,
._3f864baf56c092ae-container,
._42bf58529787eb7a-contentImage._0f2e83213c878a13-thumbnail,
._42e04da91d8bdede-container,
._43dab84f7529cb48-auditLog,
._43deb08d456619a2-gifFavoriteButton,
._44df51b030bd5ece-wrapper,
._4577670752bdbe9c-endScreenPanel,
._4577670752bdbe9c-modalBg,
._4577670752bdbe9c-pauseText,
._459fb7bcd881f8d6-colorPickerSwatch,
._459fb7bcd881f8d6-colorPickerSwatch._459fb7bcd881f8d6-custom,
._459fb7bcd881f8d6-colorPickerSwatch._459fb7bcd881f8d6-default,
._459fb7bcd881f8d6-customColorPicker,
._488d92fd78822438-gradientSwatch,
._48c1c0768f2a2421-role,
._49fc18ba07c5025f-content,
._49fc18ba07c5025f-root,
._4a011b53548617a6-addButtonContainer,
._4b8d892e5bcb9bd7-bannedUser,
._4b8d892e5bcb9bd7-scrollerContainer,
._4bb93312e84f332e-card,
._4bb93312e84f332e-card:before,
._4c5209741d147f1b-answerInner,
._4c5209741d147f1b-votePercentageBar,
._4d7bb356d058f441-card,
._4d7bb356d058f441-wrapper,
._4d95d73152192cf9-languageSelector,
._4e29dbc9e1a2384f-preview,
._4e30a003110eaaf1-container,
._4e35b986167c457d-tooltip,
._50a5493e9d9cc496-authedAppV2,
._50f142ddcd129c8c-previewContainer,
._5153730f0c7cf20d-recommendedServerCard,
._523aa09e59621644-friendRequestsButton,
._53965a42989baf13-backgroundOptionInner,
._53965a42989baf13-backgroundOptionRing,
._540ed2de1cc1ed38-developerPortalCtaWrapper,
._549780297144799a-clipForm,
._551b0894962ff66f-container,
._551b0894962ff66f-navItem,
._55c999adcf6db265-container,
._56fec8e8b8048fe0-datePicker
  ._56fec8e8b8048fe0-datePickerHint
  ._56fec8e8b8048fe0-hintValue,
._56fec8e8b8048fe0-option,
._581dd2288501a0d4-container,
._58ae6034fc6b31dc-guildRow,
._58f1c3000c2c5b3e-loadingPopout,
._5997d01a3565bdaa-upsellContent,
._5a4b641eea77e793-appContainer,
._5b32177e89c63961-container,
._5b98ee5ec86ed598-wrapper,
._5ca14cde5e287f4e-channelContainer,
._5cea9da4c2ca012f-card,
._5d7c9a81ac5dd074-profileCard,
._5d7c9a81ac5dd074-prompt,
._5dac89b770bde66c-simpleItemWrapper,
._5dbf818b58a61b59-container,
._5e434347c823b592-panels,
._5f97b45169dc1b9d-roleRow,
._60f3fd90f6085664-previewNotice,
._61c9355cca12ab4b-key,
._623de82e76ad7f82-embed,
._63c3c425b0eb0a98-infobox,
._6446fb2bd9a3c2e5-actionContainer,
._65338bf35f9ad6c1-container,
._65c15724a894a2e0-background,
._6764bd76e0340219-container,
._6980e70e22009ed7-inventoryControlsButton,
._6a63119adb6c6ba0-keywordsTextArea,
._6ae2516745464775-resultsListContainer,
._6ae2516745464775-searchRowLabel,
._6b0e07cbaf13ec4e-autocomplete,
._6c25357d6a3f0021-container,
._6c25357d6a3f0021-exampleMessage,
._6c706db0523bd9a7-mosaicItemMediaMosaic,
._6c75d92c128c46b0-credentialList,
._6da2d8abf659f945-streamPreview,
._6f5a634605e8ce31-groupCollapsedContainer,
._6fddf2ee3574a18a-calloutContainer,
._7004ff4665879b8e-contentCollapsed,
._70f7f6541f6f031e-innerWrapper,
._71961da99d37ac57-result,
._71c22426f1aad6f4-otherRoles,
._72090deda6ab7f6d-tile,
._72ba79a5dfa2ce86-addFriendInputWrapper,
._72c3859781ebce8f-wrapper,
._73000d97b1b29da5-upsellContainer,
._730694f5672c9601-card,
._730694f5672c9601-card:not(._730694f5672c9601-outline),
._740174f3d6a2c8fe-channelTextArea,
._740174f3d6a2c8fe-emojiButton,
._740174f3d6a2c8fe-scrollableContainer,
._740174f3d6a2c8fe-stackedBars,
._740f25428e5fa983-defaultKeybindGroup,
._752971923a1e6683-markup pre,
._76f047ded9fef6d4-popout,
._76f047ded9fef6d4-row,
._79d38fa75120d990-productCard,
._7d7f78b99d0a7581-button,
._7dd5e5d187db8f31-featureCard,
._7e354f20d41ba5d7-accordionContainer,
._7e549558f336cddb-itemCard,
._8061a5f9dbf6d829-container,
._8279f38edc620354-container,
._82f0793afa59e5dc-px._82f0793afa59e5dc-botTag,
._82f0793afa59e5dc-rem._82f0793afa59e5dc-botTag,
._8373460925eae9cd-paymentSourceItem,
._83b1d7042b9be375-wrapper,
._83f66f9a8c7c74ec-container,
._8499568628647f7b-banner,
._84bad078060c37c1-soundButtonSettingContainer,
._84e3e626b96552ad-card,
._8564eca6ac0e94d4-container,
._889eef8f47ea2ce6-saturation > div,
._889eef8f47ea2ce6-saturation > div > div,
._88a69141dd70013a-item,
._88a69141dd70013a-itemFilled[aria-checked="true"],
._88a69141dd70013a-item[aria-checked="true"],
._88a69141dd70013a-radioBar,
._88a69141dd70013a-radioBar._88a69141dd70013a-radioPositionLeft,
._89036700569ec527-row,
._8a031a135bfcb9ba-container,
._8a3d71a4c4dc2512-appIconSelection,
._8a7fc664acf53af6-headerBar,
._8a7fc664acf53af6-iconButton,
._8b579725ff08eeaa-cardInput,
._8cc9a9c411c88ba2-container,
._8e5774737a01bb03-container,
._8e680ffe35110238-container,
._8e75f9d969241b38-container,
._8f46bfba259ff5e4-contentContainer,
._8fea485116292f13-borderOverlay,
._9047f97c69c86d14-popout,
._90dc5e06d05dc634-tile,
._920b86c5b761e645-list,
._926775445e7c239a-rules,
._9271d23503a01b50-container,
._92efc8f0d8abb645-popoutList,
._93e558035ba2df04-messageContainer,
._949ab4d1e52789e8-optionContainer,
._9536c08fb775ae35-safetySettingsNotice,
._957962c2bd49881b-messageContainer,
._958562d63bb1e99d-overviewContainerNoVideo,
._958562d63bb1e99d-overviewContainerWithVideo,
._958562d63bb1e99d-tagContainer,
._958562d63bb1e99d-videoCover,
._959cbfbb20fb39e8-joinOptionContent,
._959cbfbb20fb39e8-joinOptionTab,
._959cbfbb20fb39e8-joinOptions,
._96c0ba03d1498fba-modInfoItemContainer,
._96f95c174d3b94a0-actions,
._974928fe84ca9647-searchBar,
._97499d091cc91f18-category,
._97e869e420e80b14-item,
._97f37b35f073229d-wrapper,
._981c8ddc53ff5825-previewContainer,
._981c8ddc53ff5825-roleStyleUpsell,
._981f723644a1a061-descriptionBox,
._99871ef1d8f8adaa-container,
._9a337c84ff86a914-bodyMedia,
._9a337c84ff86a914-contentPreview,
._9a73f1a84c858f76-memberRow,
._9a9f981d3524e20f-container,
._9ac2896ae58b7106-scroller,
._9b0f44488203477c-contentWrapper:only-child,
._9be63f0b86033228-soundButton,
._9c3bea41fd465666-profileNote textarea,
._9c62c6ed231468c4-contentWrapper,
._9c6a8876762e8075-learnMoreTipContainer,
._9c74b1a3c940bfce-requiredPermissionsBanner,
.a0c54f499c2e5848-phoneField,
.a0c54f499c2e5848-phoneField .countryButton_a0c54f,
.a16aea1526925c2c-option,
.a16aea1526925c2c-popout,
.a16aea1526925c2c-popout.a16aea1526925c2c-popoutPositionTop,
.a16aea1526925c2c-select,
.a1cc7232acce85ff-gameArtwork,
.a1d343a407a39907-container,
.a22cb0c66246f5d3-button,
.a22cb0c66246f5d3-buttonChildrenWrapper,
.a22cb0c66246f5d3-expressive .a22cb0c66246f5d3-expressiveFill,
.a244c3c87d2b1e13-container,
.a25a68d7be1be409-editCard,
.a25a68d7be1be409-editCard:before,
.a2de1626f02751e5-sourceThumbnail,
.a2eac324d62a31c3-spamBanner,
.a36dee84341ac9f5-tier,
.a36dee84341ac9f5-tierBody,
.a36dee84341ac9f5-tierHeader,
.a36dee84341ac9f5-tierHeaderWithoutCardBody,
.a3e8dbaff932c162-container,
.a45a2a5d0f4caddc-diversityEmojiItem,
.a45a2a5d0f4caddc-diversitySelectorOptions,
.a4e118e8a531fe2b-wrapper,
.a7656153eb3db678-container,
.a84c500639eaa22d-pickerItem,
.a84c500639eaa22d-tagInputWrapper,
.a8e786485f0c32f8-playbackRate,
.aa605f19898fe32e-upload,
.aa8da23faa27393c-side .aa8da23faa27393c-item,
.aa8da23faa27393c-topPill .aa8da23faa27393c-item,
.aae01227de06a74c-card,
.aae01227de06a74c-cardWrapper,
.ac65bb98973892fa-upsell,
.ac6cb02cd15b4b3b-input,
.ac6cb02cd15b4b3b-quickswitcher,
.ad9c52156e93e7fa-linkCalloutContainer,
.adb50a654b4cd212-container,
.aeaaeb2a573807f0-badgeLabel,
.aec7abc73c126bc0-button,
.af3b89684c536957-hero,
.b08af5b79e91319b-container,
.b130855d8984d74e-selectionBox,
.b1c9f2f24db7d2ca-rows,
.b1f01d03ecc7d736-container,
.b37a7512dc73c48c-friends,
.b4019af268c3fab7-effectGridItem,
.b4019af268c3fab7-presetEffectImg,
.b49891f8a231dbff-reactionTooltip,
.b4b2c318c99fc487-role,
.b6c6eb5e65b969d2-triggerMainContainer,
.b7854763c4a57c63-uploadDropModal .b7854763c4a57c63-bgScale,
.b7854763c4a57c63-uploadDropModal .b7854763c4a57c63-inner,
.b7f4b43fe1b6e285-container,
.b7f4b43fe1b6e285-reactionDefault,
.b7f4b43fe1b6e285-reactionSelected,
.b7f4b43fe1b6e285-reactors,
.b962dc319e969a3f-container,
.bb8774b01419b2c6-container,
.bba88350df28dff1-staticToolbar,
.bba88350df28dff1-toolbar,
.bbd19242e12654ad-friend,
.bd-addon-error,
.bd-addon-list .bd-addon-card,
.bd-addon-store-card,
.bd-button,
.bd-changelog-modal img,
.bd-changelog-modal video,
.bd-description-wrap .banner,
.bd-install-modal-clickable,
.bd-install-modal-items,
.bd-install-modal-preview-img,
.bd-modal-root,
.bd-notice,
.bd-notice-button,
.bd-notice:first-child,
.bd-number-input,
.bd-search-wrapper,
.bd-select,
.bd-select .bd-select-option,
.bd-select-transparent,
.bd-select-transparent .bd-select-options,
.bd-store-card,
.bd-tab-item,
.bd-toast,
.bf202d63ad53e289-interactive,
.c0bea05627c5dc35-inner,
.c0e32c5cffed3d9f-wrapper,
.c0e32c5cffed3d9f-wrapper.c0e32c5cffed3d9f-isBurstReactionPicker,
.c0e32c5cffed3d9f-wrapper.c0e32c5cffed3d9f-isBurstReactionPicker:before,
.c19a557985eb7793-executedCommand
  .c19a557985eb7793-appLauncherOnboardingCommandName,
.c1e9c47c23f12ca3-item,
.c1e9c47c23f12ca3-menu,
.c28af8664f7b2fe8-choiceContainer,
.c36707910f687430-tooltip,
.c501831bd1d46894-container,
.c530da8cb2d1ed53-tooltip,
.c590712dbcf16100-card,
.c615b70a52ed6dcb-textArea,
.c66e86abde46dbb3-action,
.c6b17748219aae56-contentContainer,
.c6d3dc100d5624e2-qualitySettingsContainer,
.c7f964e7e0fc8b47-connection,
.c7f964e7e0fc8b47-metadataContainer,
.c85552a60d5ba236-themePillItemSelected,
.c85552a60d5ba236-themeSelector,
.c85552a60d5ba236-themeSelector [class*="pillItem"],
.cacd02fa13551840-bumpBox,
.caf372efc4d47562-item,
.cb32c78a53f54371-containerBorderRadius,
.cb9592ad77576717-channelChatWrapper,
.cc1819cb49c2d109-actionButtons,
.cc46f0f859f26200-addGamePopout,
.cc46f0f859f26200-notDetected,
.cc46f0f859f26200-nowPlaying,
.cc53dee884e76e4a-container,
.cc61794aab086a2e-peopleListItem.cc61794aab086a2e-active,
.cc61794aab086a2e-peopleListItem:hover,
.cdf8a9a2bbd98bd3-wrapper,
.ce832809562bf737-menuItemInner,
.ceb06aa49ba836f9-appliedBoostContainer,
.cfee8f19fcd7f4a6-tagGroup[data-layout="inline"] .cfee8f19fcd7f4a6-tag,
.channelTabs-closeTab,
.channelTabs-fav,
.channelTabs-tab,
.channelTabs-tabNav > div,
.checkboxWrapper_f525d3.row_f525d3,
.css-19vtg9u-control,
.d02962a38047ac3c-categoryFade,
.d02962a38047ac3c-categoryFade:hover,
.d02962a38047ac3c-categoryFadeBlurple,
.d02962a38047ac3c-categoryFadeBlurple:hover,
.d13feb942bc5e7c6-row,
.d1405bf11dcfb07a-outerWrapper,
.d4883c8125f433a3-promotionCard,
.d5919918c1ff74a9-previewChannelRowContent,
.d5cd2da5733d0b6e-reactionEmojiDetailsClickable,
.d5f3cd116f175f35-inviteSplash,
.d5f3cd116f175f35-wrapper,
.d6340579835014b2-progressBarImage,
.d6b206a637c8e59a-scroller,
.d6f39bdbd19328a0-popover,
.d6f39bdbd19328a0-popoverContentWithGradient,
.d6f39bdbd19328a0-popoverGradientWrapper,
.d804ff2e60e07385-tab,
.d80a132dc542c7a2-warningContainer,
.d84e0fd1f07926c7-actionMenuButton,
.d8f25bf4f76423e6-container,
.d9161fe9b78d5bb9-previewListItem,
.d9161fe9b78d5bb9-upsellPreview,
.d97f896195d9f57f-addAnswerButton,
.d9914bd9cd9c033f-box,
.d9c8822889d1d4a1-container,
.dcc822f5d1a23123-selected,
.dd30dca4d268da6e-howItWorksContainer,
.dfa67d97f51bb0c5-decorationGridItem,
.dfa8b6b94cddb191-pill,
.e03935f4f4b2af0c-option,
.e03935f4f4b2af0c-wrapper,
.e0450273efe6a4b3-avatarUploaderInnerSquare,
.e131a99484292a19-noiseCancellationPopout,
.e335a78803b4d1df-detailsBlock,
.e335a78803b4d1df-paymentBanner,
.e3f97f0d3cd70794-root,
.e681d139d22f277b-background,
.e6abe833ac70fcae-connectedAccountContainer,
.e6b7699ce8339e1c-privateChannels,
.e6b7699ce8339e1c-searchBar .searchBarComponent__35e86,
.e6e74fd4d1221f53-buttonContainer,
.e88f3fec6ea23bee-container,
.e8b59c4b335dd2fc-messageGroupWrapper,
.e8b59c4b335dd2fc-messagesPopoutWrap,
.e97453749c8b22b3-container,
.e9cb00d6250845ad-expandedInfo,
.e9cb00d6250845ad-payment,
.e9cb00d6250845ad-statusTag,
.eaaeee8cdde53fd1-backgroundContainer,
.eae0ef2ab2653087-safetyChecklist,
.eb2cd27996d667df-container,
.eb626bad733b3a0d-selectableItem,
.ec58feb9e769a16d-userListItem,
.ec75b344a807d94d-banner,
.ec9088ea8b115e41-itemContainer,
.ec9088ea8b115e41-itemSelected,
.ed0c8cb44ff95773-jumpButton,
.ed45d7567a888ca3-category,
.ed9c90c31c2038a5-mentionLimitContainer,
.ed9c90c31c2038a5-stepper,
.ed9c90c31c2038a5-stepperContainer,
.edf4408c2c04bc10-option,
.edf4408c2c04bc10-premiumUpsell,
.ef9ae7987ec7715e-imageContainer .ef9ae7987ec7715e-contentImage,
.f369dba7416c67f0-mainCard,
.f37cb1984c371ee5-guildDropdown,
.f37cb1984c371ee5-header,
.f37cb1984c371ee5-inviteButton,
.f4758a8d6346d18b-visualMediaItemContainer,
.f5fff4b5d8815d51-group,
.f61d60ed65f9a128-wrapper,
.f69538e19b6eaacd-container,
.f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-scrollableContainer,
.f7ecaca5c80dbf3a-button.f7ecaca5c80dbf3a-selected,
.f7ecaca5c80dbf3a-button:hover,
.f7ecaca5c80dbf3a-wrapper,
.f8758b5fe7703c8b-contentContainer,
.f8824b9540b055b4-achievementContainer,
.f8896c4f6be18f59-burstGlow,
.f8896c4f6be18f59-reaction,
.f89b2c40b824acaf-container,
.f96002f2f004b44d-messagePreviewContainer,
.fc2e20723675447f-card,
.fc561d3c125f6a2f-container,
.fc7141859aaa98b7-emojiItem,
.fcb62805acc5d0cc-note textarea,
.fcbddd55b8b335a1-productCardContainer,
.fccfdf3cfff21921-pill,
.fd14e024a43b9049-message,
.fda3e4c2d6b02208-table,
.fe70ca6739eeb5f0-prompt,
.fe70ca6739eeb5f0-termsFieldBody,
.featureBorder_fbfab6fbfab6_65c15,
.fec5bfb64098f96b-section,
.fffc15720e237bf1-copyInput,
.hljs,
.monaco-editor .overflow-guard,
.qwert-toast,
.shc-lock-screen-allowed-users-and-roles-container,
.vc-btn-base,
.vc-card-base,
.vc-error-card,
.vc-permviewer-modal-list-item,
.vc-permviewer-role-button,
.vc-settings-quickActions-pill,
.vc-shc-allowed-users-and-roles-container,
.vc-shiki-root,
:where(.c0bea05627c5dc35-outer).user-profile-popout,
:where(.c0bea05627c5dc35-overlay),
div#anchor,
html:not(.chat-input) .b1f01d03ecc7d736-inputInner,
html:not(.visual-refresh-chat-input) .inner_a9982 {
  border-radius: var(--radius);
}
#replugged-quickcss-wrapper .cm-editor,
._37e49614b9f110a9-avatarWrapper,
._43dab84f7529cb48-headerClickable,
.audioControls_f316dd,
.better-codeblocks,
.bfe55a0aaaf62375-bottomControls ._201d5e8a3c09670a-button,
.c94584907f9d5a22-commandContainer .c94584907f9d5a22-command:only-child,
.cb9592ad77576717-callContainer,
.e4503acec53c64dd-lastChannel.e4503acec53c64dd-firstChannel,
.eb110a19ea3d101d-note textarea,
.replugged-addon-card,
.replugged-updater-item,
.vc-addon-card,
.vc-notification-root,
.vc-st-modal-content input,
.ͼ1 .cm-scroller {
  border-radius: var(--radius) !important;
}
#bd-editor-controls,
#vc-spotify-player,
._0d6162a4e6a4b802-content,
._0d6162a4e6a4b802-contentWrapper,
._0d6162a4e6a4b802-contentWrapper:after,
._0d6162a4e6a4b802-contentWrapperAccepted,
._0d6162a4e6a4b802-mask,
._0d6162a4e6a4b802-wrapper,
._0f481cbbd7530492-jumpToPresentBar,
._0f481cbbd7530492-topicsDropdownHeading,
._183e81c0d76dd7cd-banner,
._201d5e8a3c09670a-disabledButtonWrapper,
._24e2c2ebe64fd7d3-postEnrollmentBackground,
._2dea30567973ed8a-headerImage,
._344e69670924b1be-deny,
._3d4a037904e40932-item:first-child,
._43dab84f7529cb48-header,
._44c9ad8d149f0821-withFooter,
._49fc18ba07c5025f-header,
._4d95d73152192cf9-modalTextContainer,
._4d95d73152192cf9-newMosaicStyle ._4d95d73152192cf9-textContainer,
._5e434347c823b592-activityPanel,
._655fa0dac0bbc1ad-profileEntryCard:first-child,
._71c22426f1aad6f4-roundedRow td:first-child,
._73000d97b1b29da5-upsellContent,
._8e08ce7f1f1b7f5a-gradient,
._9293f6b2fc12398a-container,
.af3b89684c536957-popoutContentWrapper,
.b1c9f2f24db7d2ca-row:first-child,
.b440119daa5af4d6-cardHeader,
.b5b7aaa6ce54422c-container,
.b5b7aaa6ce54422c-heroAssetWrapper,
.b5b7aaa6ce54422c-overlay,
.b962dc319e969a3f-guildSidebar,
.bd-modal-header,
.c0e32c5cffed3d9f-header,
.c4293be9bb86ed7d-borders,
.c590712dbcf16100-splashImage,
.c7f964e7e0fc8b47-connectionHeader,
.c94584907f9d5a22-commandContainer .c94584907f9d5a22-command:first-child,
.card_f04ae9,
.cb32c78a53f54371-rowContainer:first-child,
.da5e8d057abd4424-banner,
.e131a99484292a19-container,
.e4503acec53c64dd-firstChannel,
.e9cb00d6250845ad-summaryInfo,
.f5fff4b5d8815d51-deny,
.roundedBanner_c3e427,
.vc-gp-banner,
.visual-refresh ._5dec784a68542d60-panel,
.visual-refresh .e4503acec53c64dd-firstChannel {
  border-radius: var(--radius) var(--radius) 0 0;
}
#replugged-quickcss-wrapper .cm-gutters,
._1464f16f3e3c14a9-optionPillKey,
._344e69670924b1be-deny,
._3d4a037904e40932-item:first-child,
._71c22426f1aad6f4-roundedRow td:first-child,
._8a7fc664acf53af6-backdrop,
._9b0f44488203477c-contentWrapper,
.b7f4b43fe1b6e285-scroller,
.b962dc319e969a3f-guildSidebar,
.bd-controls > .bd-addon-button:first-of-type,
.bd818628221af7aa-searchFilter,
.f5fff4b5d8815d51-deny,
.sidebarContainer__1d6c7 {
  border-radius: var(--radius) 0 0 var(--radius);
}
.nameInputInner__0511a {
  border-radius: var(--radius) 0 0 var(--radius) !important;
}
._344e69670924b1be-allow,
._3d4a037904e40932-item:last-child,
._71c22426f1aad6f4-roundedRow td:last-child,
._9b0f44488203477c-inviteSplash,
.b962dc319e969a3f-modal,
.bd-controls > .bd-addon-button:last-of-type,
.bd818628221af7aa-searchAnswer,
.f5fff4b5d8815d51-allow {
  border-radius: 0 var(--radius) var(--radius) 0;
}
.nameInput__0511a ._0511a39e97dd4674-emojiButton {
  border-radius: 0 var(--radius) var(--radius) 0 !important;
}
._0f481cbbd7530492-newMessagesBar,
._0f481cbbd7530492-newTopicsBarContainer,
._0f481cbbd7530492-topicsPillContainer,
._0f481cbbd7530492-topicsScroller,
._1a4ef2934d882343-cardFolder,
._41ea06378162693a-clipsFooter,
._43dab84f7529cb48-changeDetails,
._444920e965051ae6-footerContainer,
._49fc18ba07c5025f-footer,
._4d95d73152192cf9-footer,
._4d95d73152192cf9-newMosaicStyle ._4d95d73152192cf9-footer,
._655fa0dac0bbc1ad-profileEntryCard:last-child,
._73000d97b1b29da5-upsellFooter,
._7d7feb6bbfde0545-tooltipPremiumFooterContainer,
._808a172f562ea104-scroller,
._841c8f861f7b2704-threadSuggestionBar,
.af3b89684c536957-interactionsContainer,
.b1c9f2f24db7d2ca-row:last-child,
.bd-modal-footer,
.c0e32c5cffed3d9f-emojiPicker,
.c94584907f9d5a22-commandContainer .c94584907f9d5a22-command:last-child,
.cb32c78a53f54371-rowContainer:last-child,
.e4503acec53c64dd-lastChannel,
.e5f3a99c23b47bde-root > :last-child,
.f37cb1984c371ee5-animatedContainer,
.f3b986a284a18c78-searchHeader,
.fe70ca6739eeb5f0-navButtons,
.monaco-editor {
  border-radius: 0 0 var(--radius) var(--radius);
}
._37e49614b9f110a9-containerListenAlongVisible,
._37e49614b9f110a9-containerQuestBarVisible,
._37e49614b9f110a9-containerRtcOpened,
.e131a99484292a19-wrapper:has(.e131a99484292a19-container)
  ~ ._37e49614b9f110a9-container {
  border-radius: 0 0 var(--radius) var(--radius) !important;
}
.b962dc319e969a3f-modal ._49fc18ba07c5025f-footer {
  border-radius: 0 0 var(--radius) 0;
}
._49fc18ba07c5025f-content.c6f1a49abaa9f1d6-body._99f8cc7ad4790ce9-thin._99f8cc7ad4790ce9-scrollerBase,
._5e434347c823b592-activityPanel
  ~ .e131a99484292a19-wrapper
  .e131a99484292a19-container,
._96f95c174d3b94a0-actions ._96f95c174d3b94a0-value,
.d9be463a3c35b91e-formContainer .d9be463a3c35b91e-channelTextAreaInner,
.d9be463a3c35b91e-formContainer .d9be463a3c35b91e-title,
.e5f3a99c23b47bde-root .c6f1a49abaa9f1d6-body,
.floating-window #bd-editor-controls,
.floating-window .monaco-editor {
  border-radius: 0 !important;
}
.c0e32c5cffed3d9f-categoryList {
  border-bottom-left-radius: var(--radius);
}
._01ae244280823725-resizeHandle {
  width: 0;
}
._01ae244280823725-container,
._133bf5eea8e33a34-container,
._496688f04cb26d28-container,
._656be05658eed04d-sidebarContainer,
._6db1d32c47b6ad72-shop,
._808a172f562ea104-container,
._8946359d8adb1488-container,
.a592e1970a0ce22c-container,
.c08b38911b1dcc2f-main,
.dc2e0e7839a6713a-containerSidenav,
.f07d62e29a48ceee-applicationStore,
.f75fb00fb7356cbe-chat {
  border-radius: var(--radius);
  margin: 10px 10px 0 5px;
}
._5e434347c823b592-sidebar {
  border-radius: var(--radius) !important;
  margin: 0 0 10px 10px;
}
.ef3116c2da186559-wrapper {
  margin-right: 5px;
  margin-top: 15px;
}
._6e2b9359c6f84cfd-notice {
  border-radius: var(--radius);
  margin-bottom: 5px;
  margin-right: 10px;
}
._4c5209741d147f1b-answerInner {
  margin-left: 10px;
  margin-right: 5px;
}
.f75fb00fb7356cbe-chat.f75fb00fb7356cbe-threadSidebarOpen {
  border-radius: var(--radius) !important;
  margin-right: 6.5px;
}
._2a8914fa6869f3ad-editor,
._5a2dfc677f2b8493-container,
.cf6da1923918f7e3-themeEditor {
  border-left: none;
  border-radius: var(--radius);
  height: auto;
  margin: 10px 10px 10px -5px;
}
div._656be05658eed04d-profileThemedContainer {
  border-radius: var(--radius);
  margin-bottom: 20px;
}
._8a7fc664acf53af6-headerBar {
  margin-top: 5px;
}
._6db1d32c47b6ad72-shop {
  height: 97.5% !important;
}
.visual-refresh ._5e434347c823b592-sidebarList {
  border: 1px solid var(--app-border-frame);
  border-radius: var(--radius);
}
.platform-osx .content-Pph8t6:not(.ef3116c2da186559-hidden),
.visual-refresh ._5e434347c823b592-content,
.visual-refresh ._5e434347c823b592-page {
  margin-top: -10px;
}
.bd-notice,
.platform-osx .ef3116c2da186559-scroller {
  margin-top: 10px;
}
.bd-notice {
  margin-right: 10px;
}
.bd-notice,
.ef3116c2da186559-wrapper._5e434347c823b592-guilds.content_Pph8t6 {
  margin-left: 5px;
}
.content_Pph8t6.closed_j55_T- {
  display: none;
}
.bd-modal-content {
  margin-right: 16px;
}
.vc-betterFolders-sidebar {
  margin-left: -10px;
  margin-right: 5px;
}
.vc-shiki-btn:last-child {
  border-radius: var(--radius);
  margin-bottom: 5px;
  margin-right: 5px;
}
#vc-spotify-player {
  padding: 15px;
}
.better-codeblocks-btn:last-child {
  border-radius: var(--radius) !important;
  margin: 5px;
}
.foldersRedesigned-sidebar {
  margin-left: 0 !important;
  margin-right: 10px;
  padding-left: 5px !important;
}
._8fea485116292f13-newRing rect {
  rx: 16;
}
.b9ee0c229bc0b6bb-categoryItemDefaultCategory {
  border-radius: 8px;
}
.c19a557985eb7793-cozy.c19a557985eb7793-hasThread:after {
  border-bottom-left-radius: var(--radius) !important;
}
._1df30b1a583f2fa3-recentAvatarButton {
  border-radius: 50%;
}
._6d0994faecf3e6ea-container._6d0994faecf3e6ea-threeItemBundle
  ._6d0994faecf3e6ea-nameplatePreview,
._91a9d7f7e5248a56-childContainer,
._91a9d7f7e5248a56-layout,
.e144e058a84f76ff-nameplatePreview,
.visual-refresh ._91a9d7f7e5248a56-layout {
  border-radius: 20px;
  margin-bottom: 1px;
  margin-top: 1px;
}
._1405b3b8e8eb5fd0-controlButton > svg > foreignObject {
  mask: none;
}
._67dba15a1ae9a3e9-inviteRow {
  border-radius: var(--radius);
  margin-right: 0 !important;
}
.d02962a38047ac3c-categoryFade:hover {
  backdrop-filter: none;
}
.full-motion .cc61794aab086a2e-peopleListItem {
  transition: none;
}
