/* Round Bot Tag */
.botTag-7aX5WZ:not(.botTagOP-3pUTXu) {
    color: var(--brand-560);
    background-color: var(--brand-260);
    height: 0.9375rem;
    padding: 0 0.275rem;
    border-radius: var(--radius);
    margin-top: 0.25em;
}
.botTag-7aX5WZ.botTagCozy-3NTBvK:not(.botTagOP-3pUTXu) {
    margin-left: 0.25rem;
}

/* Invite */
.contentWrapper-3oy4Xo{
    border-radius: var(--radius) 0px 0px var(--radius);
}
.inviteSplash-2Q0PLE{
    border-radius: 0px var(--radius) var(--radius) 0px);
}

/* App Directory */
.search-2RHhW6,
.category-2OvQ93,
.card-2xymMp,
.container-2NdZr9,
.headerBanner-ZCUdfQ,
.category-3LanTP,
.list-1bztb-,
.commandName-SDgdgz,
.category-qFAw-K,
.clickable-WBCFI5{
    border-radius: var(--radius);
}

/* Emoji Selector */
.contentWrapper-3vHNP2,
.container-1SX9VC,
.badgeLabel-2Eo2Mq,
.container-2oNtJn,
.gif-2kTiNB,
.categoryFade-3RRG67, 
.categoryFadeBlurple-1l49_Q{
    border-radius: var(--radius);
}

/* Search */
.searchBar-jGtisZ, 
.searchResult-O9NDji{
    border-radius: var(--radius);
}
.searchFilter-2UfsDk{
    border-radius: var(--radius) 0px 0px var(--radius);
}
.searchHeader-1r_ZSh{
    border-radius: 0px 0px var(--radius) var(--radius);
}

/* Rounded Msg */ 
.reaction-3vwAF2,
.reaction-102jx9,
.mention, 
.wrapper-1ZcZW-,
.wrapper-1HIH0j{
    border-radius: var(--radius);
}

/* Setting */
.app-2CXKsg button, 
.card-2guEcY:not(.outline-3kFzf8){
    border-radius: var(--radius);
}
.animatedContainer-2laTjx{
    border-radius: 0px 0px var(--radius) var(--radius);
}
  
/* Rounded Embed Msg */
.embed-hKpSrO, 
.imageWrapper-oMkQl4{
    border-radius: var(--radius);
}
  
/* Rounded Server Menu */
.header-3OsQeK{
    background-color: var(--background-secondary-alt);
    border-radius: 0px 0px var(--radius) var(--radius);
}
.panels-3wFtMD,
.container-YkUktl{
    background-color: var(--background-secondary-alt);
    border-radius: var(--radius) var(--radius) 0px 0px;
}

/* Home Page */
.interactive-26HRN_,
.topPill-2vcLsa .item-2GWPIy{
    border-radius: var(--radius);
}

/* Profile */
.profileBadges-2pItdR {background-color: transparent;}
.role-2TIOKu,
.button-35nmN9,
.overlayBackground-2aa7wt,
.messageInputContainer-24qqTx{
    border-radius: var(--radius);
}

/* Server */
.side-1lrxIh .item-2GWPIy, 
.role-2TIOKu,
.menu-2TXYjN,
.content-1gYQeQ,
.item-5ApiZt,
.scrollableContainer-15eg7h,
.roleRow-230vCm,
.input-3O04eu, 
.button-ejjZWC,
.previewContainer-1xQAsw,
.colorPickerSwatch-RTUGRR.custom-1Up2lr, 
.colorPickerSwatch-RTUGRR.default-3ISV7m,
.customColorPicker-C_jddW,
.previewContainer-1GxmBJ,
.memberRow-1FhJgR,
.memberRow-1FhJgR,
.tierHeaderWithoutCardBody-1iT8o_,
.copyInput-3AbKWB,
.descriptionBox-SKGNgB,
.container-uFFZnN,
.changelog-2zmJ4c,
.safetyChecklist-3kgSZf,
.auditLog-1NVAY0,
.container-2kTWmC,
.wrapper-2SplAX,
.container-2E0bff,
.fieldBackground-3nYcw0, 
.fieldBackground-3nYcw0:hover:not(:focus),
.container-3EtAkD,
.wrapper-1HIH0j,
.inviteSplash-2nkLRX,
.mainCard-3KBsBI,
.header-1Uy0p6,
.item-1TA5qI,
.optionButtonWrapper-2lbogO,
.prompt-R8SyL4,
.termsFieldBody-2nQ2cD,
.optionContainer-yOpaLq,
.testimonialHeroContainer-18HL2a,
.upsellPreview-zfsyzm,
.previewListItem-2VAZ-Y,
.error-2568aZ,
.developerPortalCtaWrapper-2PniQs,
.container-13pE3E,
.featureCard-3XHbjy,
.tierHeaderUnlocked-1OpOLf{
    border-radius: var(--radius);
}
.layout-1qmrhw{border-radius:20px}
.header-1ffhsl,
.tierHeaderLocked-30MLlO,
.cardHeader-3d6H8N,
.header-2pgFQm,
.firstChannel-3vAGDY{
    border-radius: var(--radius) var(--radius) 0px 0px;
}
.footer-IubaaS,
.changeDetails-1kMZqI,
.lastChannel-21yyB,
.tierBody-1d3UiSC{
    border-radius: 0px 0px var(--radius) var(--radius);
}

/* Slash Command */
.outerWrapper-3UdjNj,
.base-2v-uc0,
.optionPill-2kmuZR,
.autocomplete-3jLKbj,
.root-1CAIjD,
.container-3jbRo5,
.select-Zz0IcO,
.tooltip-1T4pLi{
    border-radius: var(--radius);
}
.optionPillKey-2JyeoP{
    border-radius: var(--radius) 0px 0px var(--radius);
}
.footer-IubaaS{
    border-radius: 0px 0px var(--radius) var(--radius);
}
