/* Chat UI */
.tutorialContainer_f9623d {
  margin-top: 6px;
}
.resizeHandle_d1c246 {
  width: 0px;
}
.container_c2739c,
.container-36u7Lw,
.chat_a7d72e,
.pageWrapper_a3a4ce,
.container_fca846,
.main_d8215a,
.applicationStore_cecc86,
.containerSidenav_d576e9,
.shop_e77fa3,
.container_cac32e,
.container_d1c246 {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 5px;
}
.sidebar_a4d4d9,
.container_d1c246 {
  border-radius: var(--radius) !important; /* Fix sidebar not rounded on windows platform */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px !important;
  margin-left: 5px;
}
.wrapper_fea3ef {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 10px;
  background-color: var(--background-secondary);
}
.channelChatWrapper_d880dc {
  border-radius: var(--radius);
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: -5px;
  margin-left: 5px;
}
.container_a1531c {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 10px;
}
.answerInner_cf2c85 {
  border-radius: var(--radius);
  margin-right: 5px;
  margin-left: 10px;
}
.votePercentageBar_cf2c85 {
  border-radius: var(--radius);
}
.chat_a7d72e .threadSidebarOpen_a7d72e {
  border-radius: var(--radius);
  margin-right: 5px;
}

/* User Panel (Optional) */
.container_ee69e0,
.privateChannels_f0963d {
  border-radius: var(--radius);
  margin-bottom: 5px;
}
.sidebar_a4d4d9 {
  background: unset;
}

/* Text Area Reply Fix */
.theme-dark.custom-theme-background .channelTextArea_a7d72e {
  background: var(--bg-overlay-1, var(--background-secondary)) !important;
}
.theme-light.custom-theme-background .channelTextArea_a7d72e {
  background: var(--bg-overlay-2, var(--background-secondary)) !important;
}
.channelTextArea_a7d72e {
  background: var(--background-secondary) !important;
}

/* BetterDiscord */
.bd-select,
.bd-addon-list .bd-addon-card,
.bd-search-wrapper,
.bd-select-transparent,
.bd-notice,
.bd-notice:first-child,
.bd-addon-error,
.bd-tab-item,
.bd-number-input,
.bd-changelog-modal video,
.bd-changelog-modal img,
.monaco-editor .overflow-guard,
.qwert-toast,
.toast-g4bfgI,
.card-x5zW6z,
.coverBadge-I41ZIY {
  border-radius: var(--radius);
}
.bd-notice {
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
#bd-editor-controls {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.monaco-editor {
  border-radius: 0px 0px var(--radius) var(--radius);
}
#floating-editor-window {
  border-radius: var(--radius);
}
.floating-window #bd-editor-controls,
.floating-window .monaco-editor {
  border-radius: 0px;
}
.content-Pph8t6:not(.hidden_fea3ef) {
  margin-left: 5px;
}

.platform-osx .content-Pph8t6:not(.hidden_fea3ef) {
  margin-top: 10px;
}
.content-Pph8t6.closed-j55_T- {
  display: none;
}

/* Vencord */
[style="width: 72px; display: flex;"]:has(.wrapper_fea3ef.guilds_a4d4d9) {
  margin-left: -5px;
  margin-right: 15px;
}
.shiki-btn:last-child {
  margin-right: 5px;
  margin-bottom: 5px;
}
.vc-error-card,
.shc-lock-screen-allowed-users-and-roles-container,
.scroller_ccc074,
.memberListItem_db70f7,
.vc-permviewer-perms-list-item,
.shiki-root,
.markup_d6076c pre,
.shiki-btn:last-child {
  border-radius: var(--radius);
}
.vc-addon-card,
.vc-notification-root,
.vc-st-modal-content input {
  border-radius: var(--radius) !important;
}
#vc-spotify-player,
.vc-gp-banner {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
[id^="folder-items-"] {
  margin-top: 6px;
  margin-bottom: 6px;
}
[style="width: 71.9943px; display: flex;"] {
  padding-right: 15px;
  margin-left: -5px;
}
.vc-bf-folder-sidebar [class*="expandedFolderBackground-"] {
  background: unset !important;
}
.platform-osx .vc-bf-folder-sidebar {
  margin-top: -22px;
}

/* Replugged */
.replugged-addon-card,
.replugged-updater-item,
#replugged-quickcss-wrapper .cm-editor {
  border-radius: var(--radius);
}
#replugged-quickcss-wrapper .cm-gutters {
  border-radius: var(--radius) 0px 0px var(--radius);
}

/* Create Server */
.container-x8Y1ix {
  border-radius: var(--radius);
}

/* SoundBoard */
.picker_cd703d,
.soundButton_f40049 {
  border-radius: var(--radius);
}

/* Activities */
.poster-iN2kh_,
.activityItem-1Z9CTr,
.activityTag-3C3YK5 {
  border-radius: var(--radius);
}

/* Discover */
.searchBox__56feb,
.card_eb1ca6,
.container_f11cbf,
.headerImage_a39aa3,
.headerImage-2D5D-v,
.categoryPill-1zjNrr,
.splashContainer_e825f6,
.popout_f6639d,
.option_f6639d {
  border-radius: var(--radius);
}
.sidebarContainer_e5b5f9 {
  border-radius: var(--radius) 0px 0px var(--radius);
}

/* Invite */
.contentWrapper_ed5743 {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.inviteSplash_ed5743 {
  border-radius: 0px var(--radius) var(--radius) 0px;
}

/* App Directory */
.search_aabd24,
.category_d7acc7,
.card_e90143,
.container_d9c848,
.headerBanner_a1eac2,
.category_d169f5,
.list_e0307d,
.commandName_e0307d,
.category_fa8ebf,
.clickable_a97e58,
.card_b5d566 {
  border-radius: var(--radius);
}
.splashImage_b5d566 {
  border-radius: var(--radius) var(--radius) 0px 0px;
}

/* Emoji */
.contentWrapper_af5dbb,
.container_effbe2,
.badgeLabel_c3120f,
.container__33507,
.gif_bad108,
.categoryFade_af1167,
.categoryFadeBlurple_af1167,
.contentWrapper_eab878,
.container-3a5mk-,
.container_f2bfbb,
.reactors_f2bfbb,
.reactionDefault_f2bfbb,
.reactionSelected_f2bfbb,
.result_bad108:after,
.popoutContainer_cf58b5,
.result_bad108,
.reactionTooltip_fba897 {
  border-radius: var(--radius);
}
.scroller_f2bfbb {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.header_c6ee36 {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.emojiPicker_c6ee36 {
  border-radius: 0px 0px var(--radius) var(--radius);
}

/* Search */
.searchBar_a46bef,
.searchResult_ddc613 {
  border-radius: var(--radius);
}
.searchFilter_b0fa94 {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.searchHeader_b7c924 {
  border-radius: 0px 0px var(--radius) var(--radius);
}

/* Rounded Msg */
.reaction_f61c73,
.reaction_ec6b19,
.mention,
.wrapper_d4fa29,
.wrapper_b9fe76,
.wrapper_a7c28c,
.wrapper_ef319f,
.hoverButtonGroup__304b2,
.burstGlow_f61c73,
.hljs,
.attachment_a4623d.newMosaicStyle_a4623d,
.languageSelector_ad9cbd,
.wrapperAudio_f316dd.newMosaicStyle_f316dd,
.attachment_a4623d,
.executedCommand_ec86aa .appLauncherOnboardingCommandName_ec86aa,
.hoverButtonGroup_ab8b23 {
  border-radius: var(--radius);
}
.newMosaicStyle_ad9cbd .footer_ad9cbd,
.footer_ad9cbd,
.footerContainer_bf4197,
.videoControls_f316dd {
  border-radius: 0px 0px var(--radius) var(--radius);
}
.newMosaicStyle_ad9cbd .textContainer_ad9cbd,
.modalTextContainer_ad9cbd,
.withFooter_c6cefd {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.audioControls_f316dd {
  border-radius: var(--radius) !important;
}
.cozy_ec86aa.hasThread_ec86aa:after {
  border-bottom-left-radius: var(--radius) !important;
}

/* Setting */
.app_a01fb1 button,
.card_a298b8:not(.outline_a298b8),
.connection_e2a436,
.connectContainer_e2a436,
.valuePropContainer-NqrwuR,
.cardIcon_c829b4:after,
.cardIcon_c829b4:before,
.background_ae3c77,
.notDetected_fd966d,
.nowPlaying_fd966d,
.membershipDialog-2wAdpQ,
.swatch_c66781,
.saturation__918ba > div,
.saturation__918ba > div > div,
.radioBar_eb92a8.radioPositionLeft_eb92a8,
.upsellFooter-1H_OCF,
.card_a298b8,
.cardWrapper_bc8d2a,
.paymentPane_f66684,
.payment_a28a08,
.expandedInfo_a28a08,
.inner_c36ce4,
.container_b01337,
.container_d00e26,
.container_a2e886,
.row_e677b7,
.box_f70f48 {
  border-radius: var(--radius);
}
.suggestedColor__713b5 {
  border-radius: 10px;
}
.animatedContainer_fd6364,
.selectPositionTop_f6639d.open_f6639d {
  border-radius: 0px 0px var(--radius) var(--radius);
}
.connectionHeader_e2a436 {
  border-radius: var(--radius) var(--radius) 0px 0px;
}

/* Rounded Embed Msg */
.embed_ad0b71,
.imageWrapper__178ee {
  border-radius: var(--radius);
}

/* Rounded Menu */
.header_fd6364,
.panels_a4d4d9,
.container_b2ca13 {
  border-radius: var(--radius);
}

/* Home Page */
.interactive_f5eb4b,
.topPill_a0 .item_a0,
.container__23c08,
.addFriendInputWrapper_de812f,
.quickswitcher_f4e139,
.input_f4e139,
.result_f14193,
.searchBar_f0963d .searchBarComponent_f0963d,
.peopleListItem_d51464.active_d51464,
.peopleListItem_d51464:hover,
.list-3-WAYB,
.itemCard_f02fcf,
.section_cd82a7:only-child,
.twitchSectionPreview_cd82a7,
.withTagAsButton_b2ca13,
.withTagless_b2ca13,
.jumpButton_ac90a2,
.authBox_dc6abe,
.content_f9a4c9,
.friend_ebf869,
.tag_effbe2,
.contentWrapper_ed5743:only-child,
.px_a02df3.botTag_a02df3,
.popout_f6639d.popoutPositionTop_f6639d,
.selectPositionTop_f6639d.open_f6639d,
.input_f8bc55,
.tooltip_b6c360,
.reactionTooltip-3IOBwg,
.root_cbf230,
.toolbar_de3e42,
.option_b0286e,
.body_cd82a7 {
  border-radius: var(--radius);
}
.avatarWrapper_b2ca13 {
  border-radius: var(--radius) !important;
}
.card-14SgW5 {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.navRow-dG-XX8,
.root-2x5M19 > :last-child {
  border-radius: 0px 0px var(--radius) var(--radius);
}

/* Profile */
.profileBadges_f89da9,
.badgeList_ab525a,
.badgeList-2aoHPw {
  background-color: transparent;
}
.role_f9575e,
.button_f23d00,
.overlayBackground_c69a7b,
.messageInputContainer_f2c0a8,
.listRow_e4be58,
.accountProfileCard_b69b77,
.background_b69b77,
.userPopoutInner_c69a7b,
.userPopoutInner_c69a7b:before,
.userProfileOuter_c69a7b,
.userProfileOuterThemed_c69a7b,
.userProfileModalInner_c69a7b:before,
.connectedAccountContainer_f3eb60,
.userPopoutOverlayBackground_c69a7b {
  border-radius: var(--radius);
}
.userProfileOuterUnthemed_c69a7b {
  background: none;
  border-radius: var(--radius);
}
.roundedBanner_c3e427,
.bannerSVGWrapper_b32cc2:not(:has([style*="image"])) [style*="background-color"] {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.content_f9a4c9.body_bf926b.thin_eed6a8.scrollerBase_eed6a8 {
  border-radius: 0px;
}

/* Server */
.side_a0 .item_a0,
.link_d8bfb3,
.menu_d90b3d,
.wrapper_d8bfb3,
.item_d90b3d,
.roleRow_a930f1,
.button_dd4f85,
.previewContainer_da1bd9,
.colorPickerSwatch__343b4.custom__383ac,
.colorPickerSwatch__343b4.default__428e2,
.customColorPicker_bbc020,
.previewContainer_bdfce3,
.memberRow_fe3229,
.memberRow_fe3229,
.tierHeaderWithoutCardBody_da77bd,
.copyInput_f549fd,
.descriptionBox_c38f8d,
.container__26dff,
.changelog_abe1fa,
.safetyChecklist_abe1fa,
.auditLog_eebd33,
.container_ac201b,
.wrapper_faf5ab,
.container_a74b6f,
.fieldBackground_bd5b94,
.fieldBackground_bd5b94:hover:not(:focus),
.container_cc7b67,
.wrapper_b9fe76,
.inviteSplash_b9fe76,
.container-JhuCwn,
.header-1Uy0p6,
.item_eb92a8,
.optionButtonWrapper_bd5e1f,
.prompt_cd377c,
.termsFieldBody_cd377c,
.optionContainer_e3f8c2,
.testimonialHeroContainer_d3081b,
.upsellPreview_aa7c25,
.previewListItem_aa7c25,
.error_dd4615,
.developerPortalCtaWrapper_cfaf72,
.container_bd2368,
.featureCard_b1a8d5,
.tierHeaderUnlocked_da77bd,
.settingCard-xZSDjS,
.prompt_c6b11b,
.messagesPopoutWrap_ac90a2,
.messageGroupWrapper_ac90a2,
.container_e664f3,
.container_acb8b3,
.container_b6cd66,
.attachedBars_d0696b,
.card-m7VgZ8,
.qualitySettingsContainer-2LjkfM,
.upsellBanner-1tVKtW,
.upsellContainer_bb33d5,
.checklistContainer-12xGp5,
.card_ea91d1,
.howItWorksContainer_aa72d6,
.guildPopout_cf5d0a,
.descriptionContainer-2ylKGk,
.messageAttachmentMediaMosaic__67262,
.role_deddac,
.cardContainerWithoutTopIndicator_ecba8f,
.roleMessagePreview_ecba8f,
.noiseCancellationPopout_adcaac,
.container_f1c3d9,
.profileCard_c6b11b,
.messageContainer_ddb5b4,
.channelTextArea_d0696b,
.item_eef3ef,
.jumpButton_ac3dc2,
.container-3GP6AV,
.stepContainer-SaPPyG,
.contentPreview-3fWiuC,
.jumpButton_ac90a2,
.buttonInner_b385c8,
.burstGlow_ec6b19,
.upsell_b6ac1a,
.addReactButton_b385c8,
.buttonInner_b385c8,
.channelContainer-3YAhb_,
.containerBackground_ccd3df,
.container_c15230,
.contentWrapper_eab878.isBurstReactionPicker_b9ca03,
.editCard_cd99d3,
.editCard_cd99d3:before,
.triggerMainContainer_df95ff,
.keywordsTextArea_bdc518,
.collapseable_a3cc4a:before,
.collapseable_a3cc4a,
.textArea_bd9c39,
.actionContainer_b6e944,
.content_cdc675,
.card-8UsK4b,
.simpleItemWrapper_e1b877,
.container_eedf95,
.mainCard_a6d69a,
.userCardInner_c69a7b,
.action_e3f878,
.row_b53f4f,
.container_ff2ab3,
.container__13b2a,
.mainTableContainer-1olPmq,
.css-19vtg9u-control,
.lastChannel_f04d06.firstChannel_f04d06,
.rem_a02df3.botTag_a02df3,
.channelTextArea_a7d72e .scrollableContainer_d0696b,
.popout_c5b389,
.row_c5b389,
.container__56cd1,
.message_ddcc45,
.scrollableContainer_d0696b,
.spamBanner_c1da2c,
.container_c06a56,
.upload_df1eaf,
.button_ddc613,
.streamPreview_adbea6,
.previewChannelRowContent_c5d9bc,
.inviteContainer__4d80b,
.container_e1e1a4,
.previewNotice_ca24bf,
.productCard_eb6c38,
.container_ffc909,
.learnMoreTipContainer_d0cafb,
.tab_ff1414,
.chipletContainerInner_d5cb59,
.topicsDropdownBase_cf58b5,
.container_b1a27b,
.loadingPopout_a8c724 {
  border-radius: var(--radius);
}
.layout_e9f61e {
  border-radius: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.header_f9a4c9,
.tierHeaderLocked_da77bd,
.cardHeader_dedfd1,
.header_eebd33,
.firstChannel_f04d06,
.container_adcaac,
.activityPanel_a4d4d9,
.upsellContent_d0de76,
.checklistHeader-3liG7E,
.container_e44302,
.modal_a74b6f,
.jumpToPresentBar_cf58b5,
.disabledButtonWrapper_dd4f85,
.banner_d29eee,
.topicsDropdownHeading_cf58b5 {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.footer_f9a4c9,
.changeDetails_eebd33,
.lastChannel-21yyB,
.tierBody_da77bdC,
.upsellFooter_d0de76,
.scroller_fca846,
.lastChannel_f04d06,
.threadSuggestionBar_b11c5e,
.uploadModal_f82cc7 .footer_f82cc7,
.tooltipPremiumFooterContainer_eeaea3,
.topicsPillContainer_cf58b5,
.newTopicsBarContainer_cf58b5,
.topicsScroller_cf58b5 {
  border-radius: 0px 0px var(--radius) var(--radius);
}
.headerClickable_eebd33,
.callContainer_d880dc {
  border-radius: var(--radius) !important; /* Fix server log not rounded */
}
.notice__5fd4c {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 5px;
}
.guildSidebar_a74b6f,
.roundedRow_a39fe9 td:first-child {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.roundedRow_a39fe9 td:last-child {
  border-radius: 0px var(--radius) var(--radius) 0px;
}
.newMessagesBar_cf58b5 {
  border-radius: 0px 0px var(--radius) var(--radius) !important;
}
.formContainer-1zrOWf .title-1v5ZfI {
  border-radius: 0px;
}
.controlButton_b6e2f9 > svg > foreignObject {
  mask: none;
}
.channelTextArea_a7d72e {
  background-color: unset;
}

/* Slash Command */
.outerWrapper_fe2299,
.base_f23da8,
.optionPill_d4df8b,
.autocomplete_bea0d0,
.root_f9a4c9,
.container_f20685,
.select_f6639d,
.tooltip_f4c8b7 {
  border-radius: var(--radius);
}
.optionPillKey_d4df8b {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.footer_f9a4c9 {
  border-radius: 0px 0px var(--radius) var(--radius);
}

/* OAuth */
.oauth2Wrapper_c2b22e {
  border-radius: var(--radius);
}
.footer_c5a065 {
  border-radius: 0px 0px var(--radius) var(--radius);
}

/* Colour Fix */
.sidebar_a4d4d9 {
  background: unset;
}
.panels_a4d4d9var {
  background: var(--bg-overlay-1, var(--background-secondary-alt));
}
.custom-theme-background .scroller_fea3ef {
  background: var(--bg-overlay-3, var(--background-secondary));
}
.theme-dark.custom-theme-background .channelTextArea_a7d72e {
  background: var(--bg-overlay-1, var(--background-secondary)) !important;
}
.theme-light.custom-theme-background .channelTextArea_a7d72e {
  background: var(--bg-overlay-2, var(--background-secondary)) !important;
}
.channelTextArea_a7d72e {
  background: var(--background-secondary) !important;
}
.theme-light.custom-theme-background .panels_a4d4d9 {
  background: var(--bg-overlay-3);
}
.theme-dark.custom-theme-background .panels_a4d4d9 {
  background: var(--bg-overlay-1);
}
.panels_a4d4d9 {
  background: var(--background-secondary-alt);
}
