#bd-editor-controls button,
#floating-editor-window,
.accountProfileCard__1fed1,
.achievementContainer_f8824b,
.actionContainer__6446f,
.action_c66e86,
.activityItem__18da2,
.activityTag__18da2,
.activity__5be3e,
.activity_f00225,
.addAnotherRuleCardContainer__0c1e8,
.addAnswerButton_d97f89,
.addFriendInputWrapper__72ba7,
.addGamePopout_cc46f0,
.addReactButton__34c2c,
.answerInner__4c520,
.appContainer__5a4b6,
.app__160d8 button,
.applicationLargeImage__16b66,
.appliedBoostContainer_ceb06a,
.auditLog__43dab,
.authBox_dc6abe,
.autocomplete__6b0e0,
.avatarUploaderInnerSquare_e04502,
.backgroundModifierContainer_e5c5d5,
.backgroundOptionInner__53965,
.backgroundOptionRing__53965,
.background__1fed1,
.background_e681d1,
.badgeLabel_aeaaeb,
.badgeList_ab525a,
.badgeList_ec3b75,
.bannedUser_cdb2b0,
.banner__84995,
.banner_ec75b3,
.base__13533,
.bd-addon-error,
.bd-addon-store-card,
.bd-button,
.bd-changelog-modal img,
.bd-changelog-modal video,
.bd-description-wrap .banner,
.bd-install-modal-clickable,
.bd-install-modal-items,
.bd-modal-root,
.bd-notice,
.bd-notice-button,
.bd-notice:first-child,
.bd-number-input,
.bd-search-wrapper,
.bd-select,
.bd-select .bd-select-option,
.bd-select-transparent,
.bd-select-transparent .bd-select-options,
.bd-store-card,
.bd-tab-item,
.bd-toast,
.bodyMedia__9a337,
.body__00943,
.border__2f4f7,
.box_d9914b,
.burstGlow__23977,
.burstGlow_f8896c,
.buttonInner__34c2c,
.button__02a39,
.button__201d5,
.button_f23d00,
.button_f7ecac.selected_f7ecac,
.button_f7ecac:hover,
.calloutContainer__6fddf,
.cameraPreview__19236,
.cameraWrapper_d41d5f,
.cardContainerWithoutTopIndicator__3efc4,
.cardIcon__29abc:after,
.cardIcon__29abc:before,
.cardInput__8b579,
.cardWrapper_aae012,
.card__4bb93,
.card__6faf3,
.card__73069,
.card__73069:not(.outline__73069),
.card__84e3e,
.card_aae012,
.card_e90143,
.card_e90879,
.card_ea91d1,
.card_x5zW6z,
.categoryFadeBlurple_d02962,
.categoryFadeBlurple_d02962:hover,
.categoryFade_d02962,
.categoryFade_d02962:hover,
.category__97499,
.category_d169f5,
.category_d7acc7,
.category_ed45d7,
.category_fa8ebf,
.changelog_abe1fa,
.channelContainer_d5f35b,
.channelTabs-closeTab,
.channelTabs-fav,
.channelTabs-tab,
.channelTabs-tabNav > div,
.channelTextArea__74017,
.channelTextArea_f75fb0 .scrollableContainer__74017,
.childButton__3ed08,
.chipletContainerInner__4a25c,
.choiceContainer_c28af8,
.clickableContainer_e5c5d5,
.clickable_a97e58,
.collapseable__217b7,
.collapseable__217b7:before,
.colorPickerSwatch__459fb.custom__459fb,
.colorPickerSwatch__459fb.default__459fb,
.commandName_e0307d,
.connectContainer_c7f964,
.connectedAccountContainer_e6abe8,
.connection_c7f964,
.containerBackground_d4ced7,
.containerBorderRadius_cb32c7,
.container__0800c,
.container__0f2e8,
.container__13b2a,
.container__23c08,
.container__2692d,
.container__26dff,
.container__33507,
.container__34940,
.container__37e49,
.container__3a5a1,
.container__3dc42,
.container__3dde2,
.container__42e04,
.container__4e30a,
.container__55c99,
.container__56cd1,
.container__5b321,
.container__5dbf8,
.container__62119,
.container__6436f,
.container__65338,
.container__6764b,
.container__8061a,
.container__812a7,
.container__8279f,
.container__8cc9a,
.container__8e680,
.container__8e75f,
.container__9271d,
.container_a11d84,
.container_a45028,
.container_a76561,
.container_adb50a,
.container_b962dc,
.container_c44293,
.container_cc2dff,
.container_cec934,
.container_d8f25b,
.container_d9c848,
.container_d9c882,
.container_e48555,
.container_e5c5d5,
.container_e88f3f,
.container_e97453,
.container_eb2cd2,
.container_f89b2c,
.container_fc561d,
.container_fcf29c,
.container_fea832,
.contentContainer__8f46b,
.contentContainer_c6b177,
.contentContainer_f8758b,
.contentImage__42bf5.thumbnail__0f2e8,
.contentPreview__9a337,
.contentWrapper__08434,
.contentWrapper__9b0f4:only-child,
.contentWrapper__9c62c,
.contentWrapper_eab878,
.contentWrapper_eab878.isBurstReactionPicker_c0e32c,
.content__07f91,
.content__49fc1,
.copyInput_fffc15,
.coverBadge_I41ZIY,
.credentialList__6c75d,
.css-19vtg9u-control,
.customColorPicker_bbc020,
.datePicker__123cc,
.defaultTextInputWrapper__7b848,
.descriptionBox__981f7,
.detailsBlock_e335a7,
.developerPortalCtaWrapper_bf485f,
.diversityEmojiItem_a45a2a,
.diversitySelectorOptions_a45a2a,
.editCard_a25a68,
.editCard_a25a68:before,
.effectGridItem_b4019a,
.embed__623de,
.enableSwitch__3c9fa,
.error__4cd16,
.executedCommand_c19a55 .appLauncherOnboardingCommandName_c19a55,
.expandedInfo_e9cb00,
.featureBorder_fbfab6fbfab6fbfab6fbfab6c6d722,
.featureCard_bebc5b,
.fieldBackground_d48a51,
.fieldBackground_d48a51:hover:not(:focus),
.fileWrapper__0ccae,
.fileWrapper__0ccae.newMosaicStyle_b52bef,
.friend_bbd192,
.gif__2dc39,
.groupCollapsedContainer_b6a9f9,
.group__344e6,
.group_f5fff4,
.guildPopout__51eb2,
.headerBanner_a1eac2,
.headerBar__8a7fc,
.headerImage_a39aa3,
.headerImage_a3a4ce,
.header_f37cb1,
.hero_af3b89,
.hljs,
.hoverButtonGroup__06ab4,
.howItWorksContainer_aa72d6,
.iconButton__8a7fc,
.iconWidget__669b5,
.imageContainer_ef9ae7 .contentImage_ef9ae7,
.imageWrapper__178ee,
.innerWrapperV1__70f7f,
.inner__02fc8,
.inner_c0bea0,
.input__0f084,
.input_ac6cb0,
.interactive_bf202d,
.inviteContainer__4d80b,
.inviteSplash_d5f3cd,
.invite__4d3fa,
.itemCard__7e549,
.item__001a7,
.item__97e86,
.item_c1e9c4,
.jumpButton__45690,
.jumpButton_ed0c8c,
.key_fcddc1,
.keywordsTextArea__6a631,
.languageSelector__4d95d,
.lastChannel_e4503a.firstChannel_e4503a,
.learnMoreTipContainer__9c6a8,
.linkCalloutContainer_ad9c52,
.link__2ea32,
.listRow__9d78f,
.list__920b8,
.list_e0307d,
.loadingPopout__58f1c,
.mainCard_f369db,
.markup__75297 pre,
.memberListItem_ec58fe,
.memberRow__9a73f,
.membershipDialog__2d899,
.mention,
.mentionLimitContainer_ed9c90,
.menu_c1e9c4,
.messageAttachmentMediaMosaic__67262,
.messageContainer__95796,
.messageGroupWrapper__45690,
.messageInputContainer_f2c0a8,
.messagePreviewContainer_f96002,
.message__89466,
.messagesPopoutWrap__45690,
.messages__1ccd1,
.metadataContainer_c7f964,
.modInfoItemContainer__96c0b,
.monaco-editor .overflow-guard,
.mosaicItemMediaMosaic__6c706,
.navItem__551b0,
.noiseCancellationPopout_e131a9,
.notDetected_cc46f0,
.nowPlaying_cc46f0,
.oauth2Wrapper_c2b22e,
.optionBox_edf440,
.optionButtonWrapper__270d7,
.optionButton__669b5,
.optionContainer__949ab,
.optionPill__1464f,
.option__3f413,
.option__56fec,
.option_e03935,
.outerWrapper_d1405b,
.overlayBackground_c69a7b,
.overlayTitle__2f4f7,
.overridePlaceholder_db81c6,
.panels_c48ade,
.paymentBanner_e335a7,
.paymentPane__01014,
.payment_e9cb00,
.peopleListItem_cc6179.active_cc6179,
.peopleListItem_cc6179:hover,
.perks__30359,
.permissionChiplet__1ef77,
.permissionItemContainer__3f11f,
.phoneField_a0c54f,
.phoneField_a0c54f .countryButton_a0c54f,
.picker__09f65,
.pill_dfa8b6,
.pill_fccfdf,
.placeholder__2dc39,
.popoutContainer__0f481,
.popoutList__92efc,
.popout__3f413,
.popout__3f413.popoutPositionTop__3f413,
.popout__669b5,
.popout__76f04,
.premiumMemberCountSwitchContainer__3c9fa,
.presetEffectImg_b4019a,
.previewChannelRowContent_d59199,
.previewContainer__05e8e,
.previewContainer__50f14,
.previewContainer__981c8,
.previewListItem_d9161f,
.previewNotice__60f3f,
.productCard__79d38,
.profileBadges_f89da9,
.profileCard__5d7c9,
.progressBarImage_cd0bbe,
.promotionCard_d4883c,
.prompt__5d7c9,
.prompt_fe70ca,
.px__82f07.botTag__82f07,
.qualitySettingsContainer_c6d3dc,
.questsCard__72a00,
.quickswitcher_ac6cb0,
.qwert-toast,
.radioBar__001a7.radioPositionLeft__001a7,
.reactionDefault_cc2dff,
.reactionSelected_cc2dff,
.reactionTooltip_b49891,
.reaction__23977,
.reaction_f8896c,
.reactors_cc2dff,
.recommendedServerCard__51537,
.rem__82f07.botTag__82f07,
.requiredPermissionsBanner__9c74b,
.result__2dc39,
.result__2dc39:after,
.result__71961,
.roleChiplet__3f11f,
.roleMessagePreview__3efc4,
.roleRow_a930f1,
.role__48c1c,
.role_b4b2c3,
.root__2dbe1,
.root__49fc1,
.row__0624f,
.row__76f04,
.row_d13feb,
.safetyChecklist_eae0ef,
.saturation__889ee > div,
.saturation__889ee > div > div,
.scrollableContainer__74017,
.scroller__23746,
.scroller_d6b206,
.scroller_ef4a91,
.searchBar__35e86 .searchBarComponent__35e86,
.searchBar__97492,
.searchBox_d727b3,
.searchResult__02a39,
.search_aabd24,
.section__00943:only-child,
.section__6fdb8,
.selectGuildPseudoCta__39466,
.selectPositionTop__3f413.open__3f413,
.select__3f413,
.selectableItem_eb626b,
.selected_dcc822,
.selectionBox_b13085,
.setCustomButton__669b5,
.settingCard_dd864e,
.shc-lock-screen-allowed-users-and-roles-container,
.side_b3f026 .item_b3f026,
.simpleItemWrapper__5dac8,
.soundButtonSettingContainer__84bad,
.soundButton__6d4ed,
.sourceThumbnail_a2de16,
.spamBanner_a2eac3,
.splashContainer_e825f6,
.stackedBars__74017,
.statusBubbleSingleLineWithTextShape_af9888,
.stepperContainer_ed9c90,
.stepper_ed9c90,
.streamPreview__6da2d,
.swatch__2d060,
.tab_d804ff,
.tableRowGroup__19fd1 .content__19fd1,
.table__58ce9,
.tag_fea832,
.termsFieldBody_fe70ca,
.testimonialHeroContainer__3e7e2,
.textArea_c615b7,
.tierHeaderWithoutCardBody_f15dca,
.tile__72090,
.tile__90dc5,
.toast_g4bfgI,
.toolbar_bba883,
.tooltip__382e7,
.tooltip_c530da,
.topPill_b3f026 .item_b3f026,
.topicsDropdownBase__0f481,
.triggerMainContainer_b6c6eb,
.twitchSectionPreview__00943,
.uploadButton_f8e959,
.upload_aa605f,
.upsellBanner__39bd2,
.upsellContainer_c0eeaa,
.upsellOverlay__0f7dc,
.upsellPreview_d9161f,
.upsell__5be3e div,
.upsell_ac65bb,
.userCardInner_c69a7b,
.userPopoutInner_c69a7b,
.userPopoutInner_c69a7b:before,
.userPopoutOverlayBackground_c69a7b,
.userProfileInner_c69a7b,
.userProfileModalInner_c69a7b:before,
.userProfileOuterThemed_c69a7b,
.userProfileOuter_c69a7b,
.vc-error-card,
.vc-permviewer-perms-list-item,
.vc-shiki-root,
.visual-refresh .container__55c99,
.visual-refresh .container_fea832,
.visual-refresh .contentWrapper__08434,
.visual-refresh .messageContainer__95796,
.visual-refresh .navButton__08434,
.visual-refresh .option__56fec,
.visual-refresh .panels_c48ade,
.visual-refresh .root__24502,
.visual-refresh .searchAnswer_bd8186:first-child,
.visual-refresh .searchBar__97492,
.visual-refresh .searchFilter_bd8186:first-child,
.visual-refresh .sidebarListRounded_c48ade,
.visual-refresh .wrapper_d5f3cd,
.visualMediaItemContainer_f4758a,
.voiceChannelsButton__29444,
.votePercentageBar__4c520,
.warningContainer_d80a13,
.withTagAsButton_b2ca13,
.withTagless_b2ca13,
.wrapperAudio_f316dd.newMosaicStyle_f316dd,
.wrapper__14403,
.wrapper__2ea32,
.wrapper__37ae5,
.wrapper__44df5,
.wrapper__4d7bb,
.wrapper__5b98e,
.wrapper__97f37,
.wrapper_a7c28c,
.wrapper_c0e32c,
.wrapper_c0e32c.isBurstReactionPicker_c0e32c,
.wrapper_c0e32c.isBurstReactionPicker_c0e32c:before,
.wrapper_d4fa29,
.wrapper_d5f3cd,
.wrapper_e03935,
.wrapper_f61d60,
.wrapper_f7ecac,
:where(.outer_c0bea0).biteSize_c0bea0,
:where(.overlay_c0bea0),
:where(.visual-refresh) .colorDefault_c1e9c4.focused_c1e9c4,
:where(.visual-refresh) .lookFilled__3f413.select__3f413,
div#anchor,
html:not(.visual-refresh-chat-input) .inner_a99829 {
  border-radius: var(--radius);
}
#replugged-quickcss-wrapper .cm-editor,
.audioControls_f316dd,
.avatarWrapper__37e49,
.better-codeblocks,
.callContainer_cb9592,
.headerClickable__43dab,
.replugged-addon-card,
.replugged-updater-item,
.vc-addon-card,
.vc-notification-root,
.vc-st-modal-content input,
.Í¼1 .cm-scroller {
  border-radius: var(--radius) !important;
}
#bd-editor-controls,
#vc-spotify-player,
.activityPanel_c48ade,
.bannerSVGWrapper_b32cc2:not(:has([style*="image"])) [style*="background-color"],
.banner__183e8,
.bd-modal-header,
.borders__22c64,
.cardHeader_b44011,
.card_f04ae9,
.commandContainer_c94584 .command_c94584:first-child,
.connectionHeader_c7f964,
.container__9293f,
.container_e131a9,
.contentWrapperAccepted__0d616,
.contentWrapper__0d616,
.contentWrapper__0d616:after,
.deny__344e6,
.deny_f5fff4,
.disabledButtonWrapper__201d5,
.firstChannel_e4503a,
.gradient__8e08c,
.guildSidebar_b962dc,
.headerImage__2dea3,
.header__43dab,
.header__49fc1,
.header_c0e32c,
.item__3d4a0:first-child,
.jumpToPresentBar__0f481,
.modalTextContainer__4d95d,
.newMosaicStyle__4d95d .textContainer__4d95d,
.popoutContentWrapper_af3b89,
.postEnrollmentBackground__636a2,
.roundedBanner_c3e427,
.roundedRow__71c22 td:first-child,
.rowContainer_cb32c7:first-child,
.row_b1c9f2:first-child,
.splashImage__6faf3,
.tierHeaderLocked_f15dca,
.tierHeaderUnlocked_f15dca,
.topicsDropdownHeading__0f481,
.upsellContent__4cfe2,
.vc-gp-banner,
.visual-refresh .firstChannel_e4503a,
.visual-refresh .panel__5dec7,
.withFooter__44c9a,
.wrapper__0d616 {
  border-radius: var(--radius) var(--radius) 0 0;
}
#replugged-quickcss-wrapper .cm-gutters,
.backdrop__8a7fc,
.bd-controls > .bd-addon-button:first-of-type,
.contentWrapper__9b0f4,
.deny__344e6,
.deny_f5fff4,
.guildSidebar_b962dc,
.item__3d4a0:first-child,
.optionPillKey__1464f,
.roundedRow__71c22 td:first-child,
.scroller_cc2dff,
.searchFilter_bd8186,
.sidebarContainer__1d6c7 {
  border-radius: var(--radius) 0 0 var(--radius);
}
.allow__344e6,
.allow_f5fff4,
.bd-controls > .bd-addon-button:last-of-type,
.inviteSplash__9b0f4,
.item__3d4a0:last-child,
.modal_b962dc,
.roundedRow__71c22 td:last-child {
  border-radius: 0 var(--radius) var(--radius) 0;
}
.animatedContainer_f37cb1,
.bd-modal-footer,
.changeDetails__43dab,
.commandContainer_c94584 .command_c94584:last-child,
.emojiPicker_c0e32c,
.footerContainer__44492,
.footer__3d3b0,
.footer__49fc1,
.footer__4d95d,
.interactionsContainer_af3b89,
.lastChannel_e4503a,
.monaco-editor,
.navButtons_fe70ca,
.navRow__86e92,
.newMessagesBar__0f481,
.newMosaicStyle__4d95d .footer__4d95d,
.newTopicsBarContainer__0f481,
.root_e5f3a9 > :last-child,
.rowContainer_cb32c7:last-child,
.row_b1c9f2:last-child,
.scroller__808a1,
.searchHeader_f3b986,
.selectPositionTop__3f413.open__3f413,
.temporaryMembershipContainerBackground_cedfaf,
.threadSuggestionBar__841c8,
.tierBody_f15dca,
.tooltipPremiumFooterContainer__7d7fe,
.topicsPillContainer__0f481,
.topicsScroller__0f481,
.uploadModal_dbca3c .footer_dbca3c,
.upsellFooter__4cfe2,
.videoControls_f316dd,
.visual-refresh .lastChannel_e4503a {
  border-radius: 0 0 var(--radius) var(--radius);
}
.wrapper_e131a9:has(.container_e131a9) ~ .container__37e49 {
  border-radius: 0 0 var(--radius) var(--radius) !important;
}
.modal_b962dc .footer__49fc1 {
  border-radius: 0 0 var(--radius) 0;
}
.activityPanel_c48ade ~ .wrapper_e131a9 .container_e131a9,
.content__49fc1.body_c6f1a4.thin__99f8c.scrollerBase__99f8c,
.floating-window #bd-editor-controls,
.floating-window .monaco-editor,
.formContainer_d9be46 .channelTextAreaInner_d9be46,
.formContainer_d9be46 .title_d9be46,
.root_e5f3a9 .body_c6f1a4 {
  border-radius: 0 !important;
}
.categoryList_c0e32c,
.wrapper__4e6ce {
  border-bottom-left-radius: var(--radius);
}
.tutorialContainer__1f388,
.wrapper__48112 {
  margin-top: 8px;
}
.resizeHandle__01ae2 {
  width: 0;
}
.applicationStore_f07d62,
.chat_f75fb0,
.containerSidenav_dc2e0e,
.container__01ae2,
.container__133bf,
.container__49668,
.container__808a1,
.container_a592e1,
.main_c08b38,
.pageWrapper_a3a4ce,
.shop__6db1d,
.sidebarContainer__656be {
  border-radius: var(--radius);
  margin: 10px 10px 10px 5px;
}
.sidebar_c48ade {
  border-radius: var(--radius) !important;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px !important;
  margin-top: 10px;
}
.wrapper_ef3116 {
  background-color: var(--background-secondary);
  border-radius: var(--radius);
  margin: 10px 5px 10px 10px;
}
.channelChatWrapper_cb9592 {
  border-radius: var(--radius);
  margin: -10px -5px -10px 5px;
}
.container__0be77 {
  border-radius: var(--radius);
  margin: 10px 5px 10px 10px;
}
.answerInner__4c520 {
  margin-left: 10px;
  margin-right: 5px;
}
.chat_f75fb0.threadSidebarOpen_f75fb0 {
  border-radius: var(--radius);
  margin-right: 5px;
}
div.profileThemedContainer__656be {
  border-radius: var(--radius);
  margin-bottom: 20px;
}
.notice__6e2b9 {
  margin-left: 5px;
}
.editor__2a891,
.notice__6e2b9,
.themeEditor_cf6da1 {
  border-radius: var(--radius);
  margin-right: 10px;
  margin-top: 10px;
}
.editor__2a891,
.themeEditor_cf6da1 {
  border-left: 0 !important;
  height: auto !important;
  margin-bottom: 10px;
}
.shop__6db1d {
  height: 97.5% !important;
}
.shopScroll__6db1d {
  border-radius: var(--radius);
  margin-bottom: 10px;
}
.container__2637a,
.container__551b0,
.privateChannels__35e86 {
  border-radius: var(--radius);
  margin-bottom: 5px;
}
.visual-refresh .sidebarList_c48ade {
  border: 1px solid var(--app-border-frame);
  border-radius: var(--radius);
}
.headerBar__8a7fc,
.platform-osx .content-Pph8t6:not(.hidden_ef3116),
.visual-refresh .content_c48ade,
.visual-refresh .page_c48ade {
  margin-top: -10px;
}
.bd-notice {
  margin-right: 10px;
  margin-top: 10px;
}
.bd-notice,
.wrapper_ef3116.guilds_c48ade.content_Pph8t6 {
  margin-left: 5px;
}
.content_Pph8t6.closed_j55_T- {
  display: none;
}
.bd-modal-content {
  margin-right: 16px;
}
.banReasonOtherClickable__837b7 {
  border-radius: var(--radius);
  margin-top: 4px;
}
[style*="display: flex;"]:has(.wrapper_ef3116.guilds_c48ade) {
  margin-left: -5px;
  margin-right: 15px;
}
.vc-shiki-btn:last-child {
  border-radius: var(--radius);
  margin-bottom: 5px;
  margin-right: 5px;
}
.vc-bf-folder-sidebar [class*="expandedFolderBackground-"] {
  background: unset !important;
}
.platform-osx .vc-bf-folder-sidebar {
  margin-top: -22px;
}
#vc-spotify-player {
  padding: 15px;
}
.better-codeblocks-btn:last-child {
  border-radius: var(--radius) !important;
  margin: 5px;
}
.foldersRedesigned-sidebar {
  margin-left: 0 !important;
  margin-right: 10px;
  padding-left: 5px !important;
}
.categoryItemDefaultCategory_b9ee0c {
  border-radius: 8px;
}
.cozy_c19a55.hasThread_c19a55:after {
  border-bottom-left-radius: var(--radius) !important;
}
.suggestedColor__713b5 {
  border-radius: 10px;
}
.userProfileOuterUnthemed_c69a7b {
  background: none;
  border-radius: var(--radius);
}
.childContainer__91a9d,
.layout__91a9d,
.visual-refresh .layout__91a9d {
  border-radius: 20px;
  margin-bottom: 1px;
  margin-top: 1px;
}
.controlButton__1405b > svg > foreignObject {
  mask: none;
}
.bottomControls_bfe55a .button__201d5 {
  border-radius: 30px !important;
}
.channelTextArea_f75fb0 {
  background-color: unset;
}
.inviteRow__67dba {
  border-radius: var(--radius);
  margin-right: 0 !important;
}
.inviteRowButton__67dba {
  margin-right: -5px !important;
}
.sidebar_c48ade {
  background: unset;
}
.footer__214dc {
  margin-top: auto;
}
.categoryFade_d02962:hover {
  backdrop-filter: none;
}
.panels_c48adevar {
  background: var(--bg-overlay-1, var(--background-secondary-alt));
}
.custom-theme-background .scroller_ef3116,
.expandedFolderBackground__48112 {
  background: var(--bg-overlay-3, var(--background-secondary)) !important;
}
.theme-dark.custom-theme-background .channelTextArea_f75fb0 {
  background: var(--bg-overlay-1, var(--background-secondary)) !important;
}
.theme-light.custom-theme-background .channelTextArea_f75fb0 {
  background: var(--bg-overlay-2, var(--background-secondary)) !important;
}
.channelTextArea_f75fb0 {
  background: var(--background-secondary) !important;
}
.theme-light.custom-theme-background .panels_c48ade {
  background: var(--bg-overlay-3);
}
.theme-dark.custom-theme-background .panels_c48ade {
  background: var(--bg-overlay-1);
}
.panels_c48ade {
  background: var(--background-secondary-alt);
}
.profileCustomizationSection__44061 .biteSizeBannerPremium_c3e427 {
  max-width: 292px;
}
.profileCustomizationSection__44061 .clickable__75b30:hover {
  border-radius: var(--radius) var(--radius) 0 0;
  max-width: 292px;
}
.actionButtons_e131a9 > div > span {
  background: transparent !important;
}
