/* Chat UI */
.tutorialContainer-1pL9QS {
  margin-top: 6px;
}
.resizeHandle-PBRzPC {
  width: 0px;
}
.container-2cd8Mz,
.chat-2ZfjoI,
.pageWrapper-2PwDoS,
.container-2_BXG-,
.main-243VC2,
.applicationStore-2nk7Lo,
.containerSidenav-3qiKqP {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 5px;
}
.sidebar-1tnWFu,
.chat-2ZfjoI.threadSidebarOpen-1LSXvU {
  border-radius: var(--radius) !important; /* Fix sidebar not rounded on windows platform */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px !important;
  margin-left: 5px;
}
.wrapper-1_HaEi {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 10px;
  background-color: var(--background-secondary);
}
.container-3XgAHv {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
.channelChatWrapper-35N3nR {
  border-radius: var(--radius);
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: -5px;
  margin-left: 5px;
}

/* BetterDiscord */
.bd-select,
.bd-addon-list .bd-addon-card,
.bd-search-wrapper,
.bd-select-transparent,
.bd-notice,
.bd-notice:first-child,
.bd-addon-error,
.bd-tab-item,
.bd-number-input,
.bd-changelog-modal video,
.bd-changelog-modal img,
.monaco-editor .overflow-guard {
  border-radius: var(--radius);
}
.bd-notice {
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
#bd-editor-controls {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.monaco-editor {
  border-radius: 0px 0px var(--radius) var(--radius);
}
#floating-editor-window {
  border-radius: var(--radius);
}
.floating-window #bd-editor-controls,
.floating-window .monaco-editor {
  border-radius: 0px;
}
.content-Pph8t6:not(.hidden-10MsGQ) {
  margin-left: 5px;
}
.content-Pph8t6.closed-j55_T- {
  display: none;
}

/* Vencord */
.vc-bf-folder-sidebar {
  margin-right: 15px;
  margin-left: -5px;
}
.vc-error-card,
.shc-lock-screen-allowed-users-and-roles-container,
.scroller-1-L89H,
.memberListItem-3V-x8Q {
  border-radius: var(--radius);
}
.vc-plugins-card,
.vc-notification-root,
.vc-st-modal-content input {
  border-radius: var(--radius) !important;
}
#vc-spotify-player {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
[id^="folder-items-"] {
  margin-top: 6px;
  margin-bottom: 6px;
}
.vc-bf-folder-sidebar [class*="expandedFolderBackground-"] {
  background: unset !important;
}
.platform-osx .vc-bf-folder-sidebar {
  margin-top: -22px;
}

/* Replugged */
.replugged-addon-card,
.replugged-updater-item,
#replugged-quickcss-wrapper .cm-editor {
  border-radius: var(--radius);
}
#replugged-quickcss-wrapper .cm-gutters {
  border-radius: var(--radius) 0px 0px var(--radius);
}

/* Create Server */
.container-x8Y1ix {
  border-radius: var(--radius);
}

/* SoundBoard */
.picker-20lcBA,
.soundButton-2P2Ua2 {
  border-radius: var(--radius);
}

/* Activities */
.poster-iN2kh_,
.activityItem-1Z9CTr,
.activityTag-3C3YK5 {
  border-radius: var(--radius);
}

/* Discover */
.searchBox-pyIJJj,
.card-2TuZPZ,
.container-1wv6C6,
.headerImage-1c8Lrb,
.headerImage-2D5D-v,
.categoryPill-1zjNrr,
.splashContainer-2PC_Bm,
.popout-15UxD6,
.option-Uc12mm {
  border-radius: var(--radius);
}
.sidebarContainer-gUKhtL {
  border-radius: var(--radius) 0px 0px var(--radius);
}

/* Invite */
.contentWrapper-3oy4Xo {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.inviteSplash-2Q0PLE {
  border-radius: 0px var(--radius) var(--radius) 0px;
}

/* App Directory */
.search-2RHhW6,
.category-2OvQ93,
.card-2xymMp,
.container-2NdZr9,
.headerBanner-ZCUdfQ,
.category-3LanTP,
.list-1bztb-,
.commandName-SDgdgz,
.category-qFAw-K,
.clickable-WBCFI5,
.card-sX105p {
  border-radius: var(--radius);
}
.splashImage-1iRUgw {
  border-radius: var(--radius) var(--radius) 0px 0px;
}

/* Emoji */
.contentWrapper-3vHNP2,
.container-1SX9VC,
.badgeLabel-2Eo2Mq,
.container-2oNtJn,
.gif-2kTiNB,
.categoryFade-3RRG67,
.categoryFadeBlurple-1l49_Q,
.contentWrapper-2f9yME,
.container-3a5mk-,
.container-KM8BU6,
.reactors-1VXca7,
.reactionDefault-1Sjj1f,
.reactionSelected-1aMb2K,
.result-pzZrwj:after,
.popoutContainer-2wbmiM {
  border-radius: var(--radius);
}
.scroller-2GkvCq {
  border-radius: var(--radius) 0px 0px var(--radius);
}

/* Search */
.searchBar-jGtisZ,
.searchResult-O9NDji {
  border-radius: var(--radius);
}
.searchFilter-2UfsDk {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.searchHeader-1r_ZSh {
  border-radius: 0px 0px var(--radius) var(--radius);
}

/* Rounded Msg */
.reaction-3vwAF2,
.reaction-102jx9,
.mention,
.wrapper-1ZcZW-,
.wrapper-1HIH0j,
.wrapper-2vIMkT,
.hoverButtonGroup-2yZIzC,
.burstGlow-3AZMzF,
.hljs,
.attachment-1PZZB2.newMosaicStyle-35X6XO,
.languageSelector-2e1IuO,
.wrapperAudio-1Bzv_Z.newMosaicStyle-31sBoZ {
  border-radius: var(--radius);
}
.newMosaicStyle-2jdUaP .footer-GXWBBp,
.footer-GXWBBp,
.footerContainer-11-cKL {
  border-radius: 0px 0px var(--radius) var(--radius);
}
.newMosaicStyle-2jdUaP .textContainer-36wgKK,
.modalTextContainer-1FUO2W,
.withFooter-3i6JUa {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.audioControls-3fmemK,
.videoControls-2NzHnF {
  border-radius: var(--radius) !important;
}

/* Setting */
.app-2CXKsg button,
.card-2guEcY:not(.outline-3kFzf8),
.connection-YOVI9j,
.connectContainer-1hylYM,
.valuePropContainer-NqrwuR,
.cardIcon-1d-mcG:after,
.cardIcon-1d-mcG:before,
.background-Gjdjzm,
.notDetected-M3Ghh2,
.nowPlaying-3UpuKc,
.membershipDialog-2wAdpQ,
.swatch-efj8wq,
.saturation-CLQHFD > div,
.saturation-CLQHFD > div > div,
.radioBar-1XgZqD.radioPositionLeft-27wZ8M,
.upsellFooter-1H_OCF,
.card-2guEcY,
.cardWrapper-1bSePP,
.paymentPane-ut5qKZ,
.payment-2bOh4k,
.expandedInfo-1W31i3,
.inner-1lPVFp,
.container-2WMFjc,
.container-jV-A82,
.container-1iKw09,
.row-XYkFDK,
.box-3QCU9H {
  border-radius: var(--radius);
}
.suggestedColor-2q1U7c {
  border-radius: 10px;
}
.animatedContainer-2laTjx,
.selectPositionTop-3OGkHL.open-LeyjhI {
  border-radius: 0px 0px var(--radius) var(--radius);
}
.connectionHeader-Ixbb1s {
  border-radius: var(--radius) var(--radius) 0px 0px;
}

/* Rounded Embed Msg */
.embed-hKpSrO,
.imageWrapper-oMkQl4 {
  border-radius: var(--radius);
}

/* Rounded Menu */
.header-3OsQeK,
.panels-3wFtMD,
.container-YkUktl {
  border-radius: var(--radius);
}

/* Home Page */
.interactive-26HRN_,
.topPill-2vcLsa .item-2GWPIy,
.container-_dQaft,
.addFriendInputWrapper-kkoSV9,
.quickswitcher-pKcM9U,
.input-3r5zZY,
.result-u66Ywh,
.searchBar-3TnChZ .searchBarComponent-3N7dCG,
.peopleListItem-u6dGxF.active-2UF8Zh,
.peopleListItem-u6dGxF:hover,
.list-3-WAYB,
.itemCard-3Etziu,
.section-3G9aLW:only-child,
.twitchSectionPreview-3qElNQ,
.withTagAsButton-OsgQ9L,
.withTagless-10ooWt,
.jumpButton-1ZwI_j,
.authBox-1HR6Ha,
.content-1OG56Q,
.friend-8ZraY7,
.tag-15zcD_,
.contentWrapper-3oy4Xo:only-child,
.px-MnE_OR.botTag-7aX5WZ,
.popout-15UxD6.popoutPositionTop-3Uhefd,
.selectPositionTop-3OGkHL.open-LeyjhI,
.input-3O04eu {
  border-radius: var(--radius);
}
.avatarWrapper-1B9FTW {
  border-radius: var(--radius) !important;
}
.card-14SgW5 {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.navRow-dG-XX8 {
  border-radius: 0px 0px var(--radius) var(--radius);
}

/* Profile */
.profileBadges-2pItdR,
.badgeList-2hF9ig,
.badgeList-2aoHPw {
  background-color: transparent;
}
.role-2TIOKu,
.button-35nmN9,
.overlayBackground-2aa7wt,
.messageInputContainer-24qqTx,
.listRow-2nO1T6,
.accountProfileCard-lbN7n-,
.background-3d_SjE,
.userPopoutInner-nv9Y92:before,
.userProfileOuter-2tQwNf,
.userProfileModalInner-3dx9L9:before,
.connectedAccountContainer-3aLMHJ {
  border-radius: var(--radius);
}
.roundedBanner-uNt2w- {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.content-1OG56Q.body-2qXItL.thin-RnSY0a.scrollerBase-1Pkza4 {
  border-radius: 0px;
}

/* Server */
.side-1lrxIh .item-2GWPIy,
.link-1_kTxV,
.menu-2TXYjN,
.content-1gYQeQ,
.item-5ApiZt,
.roleRow-230vCm,
.button-ejjZWC,
.previewContainer-1xQAsw,
.colorPickerSwatch-RTUGRR.custom-1Up2lr,
.colorPickerSwatch-RTUGRR.default-3ISV7m,
.customColorPicker-C_jddW,
.previewContainer-1GxmBJ,
.memberRow-1FhJgR,
.memberRow-1FhJgR,
.tierHeaderWithoutCardBody-1iT8o_,
.copyInput-3AbKWB,
.descriptionBox-SKGNgB,
.container-uFFZnN,
.changelog-2zmJ4c,
.safetyChecklist-3kgSZf,
.auditLog-1NVAY0,
.container-2kTWmC,
.wrapper-2SplAX,
.container-2E0bff,
.fieldBackground-3nYcw0,
.fieldBackground-3nYcw0:hover:not(:focus),
.container-3EtAkD,
.wrapper-1HIH0j,
.inviteSplash-2nkLRX,
.container-JhuCwn,
.header-1Uy0p6,
.item-1TA5qI,
.optionButtonWrapper-2lbogO,
.prompt-R8SyL4,
.termsFieldBody-2nQ2cD,
.optionContainer-yOpaLq,
.testimonialHeroContainer-18HL2a,
.upsellPreview-zfsyzm,
.previewListItem-2VAZ-Y,
.error-2568aZ,
.developerPortalCtaWrapper-2PniQs,
.container-13pE3E,
.featureCard-3XHbjy,
.tierHeaderUnlocked-1OpOLf,
.settingCard-xZSDjS,
.prompt-1sE27N,
.messagesPopoutWrap-3zryHW,
.messageGroupWrapper-1jf_7C,
.container-18GwIk,
.container-2rzKKA,
.container-20TyK0,
.attachedBars-2BCP3l,
.card-m7VgZ8,
.qualitySettingsContainer-2LjkfM,
.upsellBanner-1tVKtW,
.upsellContainer-22N_CL,
.checklistContainer-12xGp5,
.card-ErWTld,
.howItWorksContainer-3ZDRIG,
.guildPopout-1PxOP0,
.descriptionContainer-2ylKGk,
.messageAttachmentMediaMosaic-2ic1yt,
.role-23oyrw,
.cardContainerWithoutTopIndicator-36cvDB,
.roleMessagePreview-NUi2Ri,
.noiseCancellationPopout-2-e5Xz,
.container-2ebMPP,
.profileCard-2gVmvm,
.messageContainer-3VTXBC,
.channelTextArea-1VQBuV,
.item-1Mjtru,
.jumpButton-1V_1FA,
.container-3GP6AV,
.stepContainer-SaPPyG,
.contentPreview-3fWiuC,
.jumpButton-1ZwI_j,
.buttonInner-3aRbcx,
.burstGlow-uhab6Q,
.upsell-3B1lnN,
.addReactButton-3bSQb6,
.buttonInner-3aRbcx,
.channelContainer-3YAhb_,
.containerBackground-Ang24O,
.container-3i3IzO,
.contentWrapper-2f9yME.isBurstReactionPicker-3h5fqV,
.editCard-K9Q9mb,
.editCard-K9Q9mb:before,
.triggerMainContainer-274ue5,
.keywordsTextArea-3QkFoG,
.collapseable-1FiLab:before,
.collapseable-1FiLab,
.textArea-3KjrTT,
.actionContainer-2krsiT,
.content-1Tgc42,
.card-8UsK4b,
.simpleItemWrapper-1Zwc4I,
.container-2McqkF,
.mainCard-3KBsBI,
.userCardInner-3c42YR,
.action-3oG-si,
.row--LCpto,
.container-12NG2g,
.container-1ILvLB,
.mainTableContainer-1olPmq,
.css-19vtg9u-control,
.lastChannel-21yyBC.firstChannel-3vAGDY,
.rem-3kT9wc.botTag-7aX5WZ,
.channelTextArea-1FufC0 .scrollableContainer-15eg7h,
.popout-TdhJ6Z,
.row-1qtctT,
.container-8Futzw {
  border-radius: var(--radius);
}
.layout-1qmrhw {
  border-radius: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.header-1ffhsl,
.tierHeaderLocked-30MLlO,
.cardHeader-3d6H8N,
.header-2pgFQm,
.firstChannel-3vAGDY,
.container-1zzFcN,
.activityPanel-9icbyU,
.upsellContent-10YytV,
.checklistHeader-3liG7E,
.container-ZMc96U,
.modal-2TOYtq,
.jumpToPresentBar-1cEnH0,
.message-G6O-Wv,
.disabledButtonWrapper-1m0hYZ {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.footer-IubaaS,
.changeDetails-1kMZqI,
.lastChannel-21yyB,
.tierBody-1d3UiSC,
.upsellFooter-3M1V33,
.scroller-38C5lh,
.lastChannel-21yyBC,
.threadSuggestionBar-3ExSyc,
.uploadModal-2ie9O_ .footer-VCsJQY {
  border-radius: 0px 0px var(--radius) var(--radius);
}
.headerClickable-zGQJz3,
.callContainer-HtHELf {
  border-radius: var(--radius) !important; /* Fix server log not rounded */
}
.notice-2HEN-u {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 5px;
}
.guildSidebar-UHnQqs,
.roundedRow-2mAezB td:first-child {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.roundedRow-2mAezB td:last-child {
  border-radius: 0px var(--radius) var(--radius) 0px;
}
.newMessagesBar-1hF-9G {
  border-radius: 0px 0px var(--radius) var(--radius) !important;
}
.formContainer-1zrOWf .title-1v5ZfI {
  border-radius: 0px;
}
.controlButton-2PMNom > svg > foreignObject {
  mask: none;
}
.channelTextArea-1FufC0 {
  background-color: unset;
}

/* Slash Command */
.outerWrapper-3UdjNj,
.base-2v-uc0,
.optionPill-2kmuZR,
.autocomplete-3jLKbj,
.root-1CAIjD,
.container-3jbRo5,
.select-Zz0IcO,
.tooltip-1T4pLi {
  border-radius: var(--radius);
}
.optionPillKey-2JyeoP {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.footer-IubaaS {
  border-radius: 0px 0px var(--radius) var(--radius);
}
