/* Chat UI */
.tutorialContainer__890ea {
  margin-top: 6px;
}
.resizeHandle_f1a098 {
  width: 0px;
}
.container__5c7e7,
.container-36u7Lw,
.chat__52833,
.pageWrapper_fef757,
.container__42489,
.main__58b77,
.applicationStore_fc7d76,
.containerSidenav__2623a,
.shop-3sIaH8,
.container__0a30f {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 5px;
}
.sidebar_ded4b5,
.chat__52833,
.container_def45c {
  border-radius: var(--radius) !important; /* Fix sidebar not rounded on windows platform */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px !important;
  margin-left: 5px;
}
.wrapper_a7e7a8 {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 10px;
  background-color: var(--background-secondary);
}
.container_def45c {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 5px;
}
.channelChatWrapper__3e57d {
  border-radius: var(--radius);
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: -5px;
  margin-left: 5px;
}

/* User Panel (Optional) */
.container__590e2,
.privateChannels__93473 {
  border-radius: var(--radius);
  margin-bottom: 5px;
}
.sidebar_ded4b5 {
  background: unset;
}

/* Text Area Reply Fix */
.theme-dark.custom-theme-background .channelTextArea__2e60f {
  background: var(--bg-overlay-1, var(--background-secondary)) !important;
}
.theme-light.custom-theme-background .channelTextArea__2e60f {
  background: var(--bg-overlay-2, var(--background-secondary)) !important;
}
.channelTextArea__2e60f {
  background: var(--background-secondary) !important;
}

/* BetterDiscord */
.bd-select,
.bd-addon-list .bd-addon-card,
.bd-search-wrapper,
.bd-select-transparent,
.bd-notice,
.bd-notice:first-child,
.bd-addon-error,
.bd-tab-item,
.bd-number-input,
.bd-changelog-modal video,
.bd-changelog-modal img,
.monaco-editor .overflow-guard,
.qwert-toast,
.toast-g4bfgI,
.card-x5zW6z,
.coverBadge-I41ZIY {
  border-radius: var(--radius);
}
.bd-notice {
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
#bd-editor-controls {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.monaco-editor {
  border-radius: 0px 0px var(--radius) var(--radius);
}
#floating-editor-window {
  border-radius: var(--radius);
}
.floating-window #bd-editor-controls,
.floating-window .monaco-editor {
  border-radius: 0px;
}
.content-Pph8t6:not(.hidden__7c832) {
  margin-left: 5px;
}
.platform-osx .content-Pph8t6:not(.hidden__7c832) {
  margin-top: 10px;
}
.content-Pph8t6.closed-j55_T- {
  display: none;
}

/* Vencord */
.vc-bf-folder-sidebar {
  margin-right: 15px;
  margin-left: -5px;
}
.shiki-btn:last-child {
  margin-right: 5px;
  margin-bottom: 5px;
}
.vc-error-card,
.shc-lock-screen-allowed-users-and-roles-container,
.scroller__61bf9,
.memberListItem_f1d144,
.vc-permviewer-perms-list-item,
.shiki-root,
.markup_a7e664 pre,
.shiki-btn:last-child {
  border-radius: var(--radius);
}
.vc-addon-card,
.vc-notification-root,
.vc-st-modal-content input {
  border-radius: var(--radius) !important;
}
#vc-spotify-player,
.vc-gp-banner {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
[id^="folder-items-"] {
  margin-top: 6px;
  margin-bottom: 6px;
}
.vc-bf-folder-sidebar [class*="expandedFolderBackground-"] {
  background: unset !important;
}
.platform-osx .vc-bf-folder-sidebar {
  margin-top: -22px;
}

/* Replugged */
.replugged-addon-card,
.replugged-updater-item,
#replugged-quickcss-wrapper .cm-editor {
  border-radius: var(--radius);
}
#replugged-quickcss-wrapper .cm-gutters {
  border-radius: var(--radius) 0px 0px var(--radius);
}

/* Create Server */
.container-x8Y1ix {
  border-radius: var(--radius);
}

/* SoundBoard */
.picker__6dca7,
.soundButton__5ad7b {
  border-radius: var(--radius);
}

/* Activities */
.poster-iN2kh_,
.activityItem-1Z9CTr,
.activityTag-3C3YK5 {
  border-radius: var(--radius);
}

/* Discover */
.searchBox_a63854,
.card__86773,
.container__8877d,
.headerImage_d4505b,
.headerImage-2D5D-v,
.categoryPill-1zjNrr,
.splashContainer__5cb35,
.popout_a6e77f,
.option_be8b2e {
  border-radius: var(--radius);
}
.sidebarContainer__5583d {
  border-radius: var(--radius) 0px 0px var(--radius);
}

/* Invite */
.contentWrapper__85d37 {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.inviteSplash_da131b {
  border-radius: 0px var(--radius) var(--radius) 0px;
}

/* App Directory */
.search__24107,
.category_ba5745,
.card__834d4,
.container__7b33c,
.headerBanner__76f87,
.category__60494,
.list_b1e6a9,
.commandName__72789,
.category__2d800,
.clickable_e2569e,
.card__2ebbc {
  border-radius: var(--radius);
}
.splashImage_df3cce {
  border-radius: var(--radius) var(--radius) 0px 0px;
}

/* Emoji */
.contentWrapper__321ed,
.container_e4c233,
.badgeLabel__7c5a4,
.container__7712a,
.gif__2aa16,
.categoryFade_f9c843,
.categoryFadeBlurple_e73c11,
.contentWrapper_eab878,
.container-3a5mk-,
.container_dc03c3,
.reactors__20ab0,
.reactionDefault__792ef,
.reactionSelected__249a7,
.result_e1fc74:after,
.popoutContainer__7b9a3,
.result_e1fc74 {
  border-radius: var(--radius);
}
.scroller__5fda0 {
  border-radius: var(--radius) 0px 0px var(--radius);
}

/* Search */
.searchBar_e0c60b,
.searchResult_dcd237 {
  border-radius: var(--radius);
}
.searchFilter__118cb {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.searchHeader__19d87 {
  border-radius: 0px 0px var(--radius) var(--radius);
}

/* Rounded Msg */
.reaction_b90ab0,
.reaction_fef95b,
.mention,
.wrapper__2d9b1,
.wrapper_efe67f,
.wrapper_c727b6,
.hoverButtonGroup__5b423,
.burstGlow_f0f94c,
.hljs,
.attachment_f3cf2c.newMosaicStyle__235c9,
.languageSelector_a1c2f3,
.wrapperAudio__555ce.newMosaicStyle_fb18b9,
.attachment_f3cf2c {
  border-radius: var(--radius);
}
.newMosaicStyle__8d3be .footer__06f4b,
.footer__06f4b,
.footerContainer_a703d5,
.videoControls__96149 {
  border-radius: 0px 0px var(--radius) var(--radius);
}
.newMosaicStyle__8d3be .textContainer__709ff,
.modalTextContainer_ddfc28,
.withFooter_ab9bc4 {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.audioControls__9fbe9 {
  border-radius: var(--radius) !important;
}

/* Setting */
.app__00c92 button,
.card__4dc22:not(.outline_cb0aed),
.connection_fff5f6,
.connectContainer__8050b,
.valuePropContainer-NqrwuR,
.cardIcon__3476e:after,
.cardIcon__3476e:before,
.background__584e7,
.notDetected__2a0c9,
.nowPlaying__353c3,
.membershipDialog-2wAdpQ,
.swatch__96672,
.saturation__35997 > div,
.saturation__35997 > div > div,
.radioBar__40e1b.radioPositionLeft__1d40a,
.upsellFooter-1H_OCF,
.card__4dc22,
.cardWrapper_bc8d2a,
.paymentPane__9cf01,
.payment__7d702,
.expandedInfo__47bad,
.inner__51a43,
.container__6968f,
.container__9c82e,
.container__9f90c,
.row_c1b980,
.box__6431e {
  border-radius: var(--radius);
}
.suggestedColor__34249 {
  border-radius: 10px;
}
.animatedContainer__341f6,
.selectPositionTop__139bc.open_cd27aa {
  border-radius: 0px 0px var(--radius) var(--radius);
}
.connectionHeader__3c82d {
  border-radius: var(--radius) var(--radius) 0px 0px;
}

/* Rounded Embed Msg */
.embed_d3cbe3,
.imageWrapper_fd6587 {
  border-radius: var(--radius);
}

/* Rounded Menu */
.header__104ca,
.panels__58331,
.container_ca50b9 {
  border-radius: var(--radius);
}

/* Home Page */
.interactive__776ee,
.topPill__0cdf1 .item__48dda,
.container__23c08,
.addFriendInputWrapper__4bf8e,
.quickswitcher_a3d29a,
.input__848cd,
.result__25f11,
.searchBar_e4ea2a .searchBarComponent__22760,
.peopleListItem_d14722.active__6b8ff,
.peopleListItem_d14722:hover,
.list-3-WAYB,
.itemCard__1f162,
.section_efc22d:only-child,
.twitchSectionPreview_aa3797,
.withTagAsButton_cc125f,
.withTagless__98b7d,
.jumpButton__0329d,
.authBox__7196a,
.content__764ce,
.friend__05c43,
.tag__69d9d,
.contentWrapper__85d37:only-child,
.px__97c6b.botTag__4211a,
.popout_a6e77f.popoutPositionTop_b2d29e,
.selectPositionTop__139bc.open_cd27aa,
.input_d266e7,
.tooltip__01384,
.reactionTooltip-3IOBwg,
.root__46d4f,
.toolbar_c7b525,
.option_b5597b,
.body__83069 {
  border-radius: var(--radius);
}
.avatarWrapper_ba5175 {
  border-radius: var(--radius) !important;
}
.card-14SgW5 {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.navRow-dG-XX8,
.root-2x5M19 > :last-child {
  border-radius: 0px 0px var(--radius) var(--radius);
}

/* Profile */
.profileBadges__7a7cb,
.badgeList_ef4131,
.badgeList-2aoHPw {
  background-color: transparent;
}
.role__631a3,
.button__2c432,
.overlayBackground__86b78,
.messageInputContainer__768e6,
.listRow__60937,
.accountProfileCard__22589,
.background_b61fcc,
.userPopoutInner_f545a3:before,
.userProfileOuter__46bb7,
.userProfileModalInner__7c87d:before,
.connectedAccountContainer__23f00 {
  border-radius: var(--radius);
}
.roundedBanner__9fa0a {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.content__764ce.body__59737.thin_b1c063.scrollerBase_dc3aa9 {
  border-radius: 0px;
}

/* Server */
.side_b4b3f6 .item__48dda,
.link__95dc0,
.menu_dc52c6,
.wrapper__7bcde,
.item__183e8,
.roleRow_c357d5,
.button_afdfd9,
.previewContainer_d2b616,
.colorPickerSwatch__87597.custom__383ac,
.colorPickerSwatch__87597.default__8218c,
.customColorPicker__3cb6a,
.previewContainer_c7e80d,
.memberRow__91c35,
.memberRow__91c35,
.tierHeaderWithoutCardBody__1282a,
.copyInput_c1c679,
.descriptionBox_cca0c3,
.container__26dff,
.changelog__6d46d,
.safetyChecklist__826c8,
.auditLog__6c805,
.container_d27846,
.wrapper_fbbb73,
.container_b61112,
.fieldBackground_d6edfa,
.fieldBackground_d6edfa:hover:not(:focus),
.container_d5f6d0,
.wrapper_efe67f,
.inviteSplash_f4eb93,
.container-JhuCwn,
.header-1Uy0p6,
.item_b7fb7e,
.optionButtonWrapper__4072c,
.prompt__671aa,
.termsFieldBody__96dcb,
.optionContainer__5d0b1,
.testimonialHeroContainer__4a355,
.upsellPreview_e0cb61,
.previewListItem__4f725,
.error_f5f3e1,
.developerPortalCtaWrapper__21172,
.container__0d7bc,
.featureCard__0a441,
.tierHeaderUnlocked_cc60fa,
.settingCard-xZSDjS,
.prompt__1b100,
.messagesPopoutWrap_b3b384,
.messageGroupWrapper_f8c6e9,
.container__8261a,
.container__6604b,
.container__467eb,
.attachedBars_da3c74,
.card-m7VgZ8,
.qualitySettingsContainer-2LjkfM,
.upsellBanner-1tVKtW,
.upsellContainer__12e24,
.checklistContainer-12xGp5,
.card_bc6ee2,
.howItWorksContainer_ef4386,
.guildPopout_ea4d8c,
.descriptionContainer-2ylKGk,
.messageAttachmentMediaMosaic__65bfc,
.role__88585,
.cardContainerWithoutTopIndicator_d7edfe,
.roleMessagePreview__8088a,
.noiseCancellationPopout__06ec4,
.container__20de0,
.profileCard_bd55ee,
.messageContainer_aa7d14,
.channelTextArea__56a36,
.item__287de,
.jumpButton_da1ebb,
.container-3GP6AV,
.stepContainer-SaPPyG,
.contentPreview-3fWiuC,
.jumpButton__0329d,
.buttonInner__2771e,
.burstGlow__012b7,
.upsell__780f6,
.addReactButton__59750,
.buttonInner__2771e,
.channelContainer-3YAhb_,
.containerBackground__1e084,
.container__767d1,
.contentWrapper_eab878.isBurstReactionPicker_b9ca03,
.editCard_dfa091,
.editCard_dfa091:before,
.triggerMainContainer_c5139b,
.keywordsTextArea_d5eadb,
.collapseable__71e46:before,
.collapseable__71e46,
.textArea__3f404,
.actionContainer__51bd9,
.content_b60865,
.card-8UsK4b,
.simpleItemWrapper__2a0a0,
.container_d6dad3,
.mainCard-3KBsBI,
.userCardInner_d6aa46,
.action_c957d9,
.row__70f4c,
.container__42884,
.container__0810b,
.mainTableContainer-1olPmq,
.css-19vtg9u-control,
.lastChannel__129f1.firstChannel__94f31,
.rem__931aa.botTag__4211a,
.channelTextArea__2e60f .scrollableContainer__33e06,
.popout__24e32,
.row__4daf2,
.container__56cd1,
.message__04d9f,
.scrollableContainer__33e06,
.spamBanner_adb1b9,
.container__8fd9f,
.reactionTooltip-29BsaC,
.upload_c98ecb,
.button_f8244b,
.streamPreview__1846c,
.previewChannelRowContent_d97574 {
  border-radius: var(--radius);
}
.layout_bb8e67 {
  border-radius: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.header__6d5ea,
.tierHeaderLocked__4d099,
.cardHeader__27283,
.header_e08fd2,
.firstChannel__94f31,
.container_d667ff,
.activityPanel__22355,
.upsellContent_b657aa,
.checklistHeader-3liG7E,
.container__11d72,
.modal_b38209,
.jumpToPresentBar__0ff7f,
.disabledButtonWrapper__69c70,
.banner_f13f1e {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.footer__89240,
.changeDetails_ecd760,
.lastChannel-21yyB,
.tierBody__615a1C,
.upsellFooter__63475,
.scroller__5e182,
.lastChannel__129f1,
.threadSuggestionBar_b633f7,
.uploadModal_eae2a0 .footer_ceda43,
.tooltipPremiumFooterContainer__6fefb {
  border-radius: 0px 0px var(--radius) var(--radius);
}
.headerClickable_c4d7a9,
.callContainer_cbde45 {
  border-radius: var(--radius) !important; /* Fix server log not rounded */
}
.notice__5fd4c {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 5px;
}
.guildSidebar__8763f,
.roundedRow_b6c2e1 td:first-child {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.roundedRow_b6c2e1 td:last-child {
  border-radius: 0px var(--radius) var(--radius) 0px;
}
.newMessagesBar__8b6d7 {
  border-radius: 0px 0px var(--radius) var(--radius) !important;
}
.formContainer-1zrOWf .title-1v5ZfI {
  border-radius: 0px;
}
.controlButton_ab2899 > svg > foreignObject {
  mask: none;
}
.channelTextArea__2e60f {
  background-color: unset;
}

/* Slash Command */
.outerWrapper__08924,
.base__76a71,
.optionPill_f86b98,
.autocomplete__0c75a,
.root_a28985,
.container_de00a3,
.select__0eb48,
.tooltip_a70a03 {
  border-radius: var(--radius);
}
.optionPillKey_e84f41 {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.footer__89240 {
  border-radius: 0px 0px var(--radius) var(--radius);
}
