#bd-editor-controls button,
#floating-editor-window,
.accountProfileCard_b69b77,
.achievementContainer_a26362,
.actionContainer_b6e944,
.action_e3f878,
.activityItem_d46b95,
.activityTag_d46b95,
.activity_f00225,
.addAnotherRuleCardContainer_a57b58,
.addAnswerButton_f24a96,
.addFriendInputWrapper_de812f,
.addGamePopout_fd966d,
.addReactButton_b385c8,
.answerInner_cf2c85,
.app_a01fb1 button,
.applicationLargeImage_f866f2,
.appliedBoostContainer_dba803,
.attachment_b52bef,
.attachment_b52bef.newMosaicStyle_b52bef,
.auditLog_eebd33,
.authBox_dc6abe,
.autocomplete_bea0d0,
.avatarUploaderInnerSquare_e9b3be,
.backgroundModifierContainer_e5c5d5,
.backgroundOptionInner_ad7d79,
.backgroundOptionRing_ad7d79,
.background_ae3c77,
.background_b69b77,
.badgeLabel_c3120f,
.badgeList_ab525a,
.badgeList_ec3b75,
.bannedUser_c90ddb,
.banner_ad4cb5,
.banner_b12c98,
.base_bcc24e,
.bd-addon-error,
.bd-addon-list .bd-addon-card,
.bd-button,
.bd-changelog-modal img,
.bd-changelog-modal video,
.bd-description-wrap .banner,
.bd-modal-root,
.bd-notice,
.bd-notice-button,
.bd-notice:first-child,
.bd-number-input,
.bd-search-wrapper,
.bd-select,
.bd-select-transparent,
.bd-tab-item,
.bd-toast,
.bodyMedia_a57509,
.body_cd82a7,
.border_ba4b17,
.box_f70f48,
.burstGlow_ec6b19,
.burstGlow_f61c73,
.buttonInner_b385c8,
.button_dd4f85,
.button_ddc613,
.button_f23d00,
.button_f7e168.selected_f7e168,
.button_f7e168:hover,
.calloutContainer_fd8ff1,
.cameraPreview_e5da2b,
.cameraWrapper_ff1ac9,
.cardContainerWithoutTopIndicator_ecba8f,
.cardIcon_c4e271:after,
.cardIcon_c4e271:before,
.cardInput_c04e45,
.cardWrapper_f9902b,
.card_a298b8,
.card_a298b8:not(.outline_a298b8),
.card_b5d566,
.card_e32e6f,
.card_e90143,
.card_e90879,
.card_ea91d1,
.card_f9902b,
.card_x5zW6z,
.categoryFadeBlurple_af1167,
.categoryFadeBlurple_af1167:hover,
.categoryFade_af1167,
.categoryFade_af1167:hover,
.category_d169f5,
.category_d7acc7,
.category_fa8ebf,
.changelog_abe1fa,
.channelContainer_a3e381,
.channelTabs-closeTab,
.channelTabs-fav,
.channelTabs-tab,
.channelTabs-tabNav > div,
.channelTextArea_a7d72e .scrollableContainer_bdf0de,
.channelTextArea_bdf0de,
.childButton_f45bfc,
.chipletContainerInner_d5cb59,
.clickableContainer_e5c5d5,
.clickable_a97e58,
.collapseable_a3cc4a,
.collapseable_a3cc4a:before,
.colorPickerSwatch_b91d66.custom_b91d66,
.colorPickerSwatch_b91d66.default_b91d66,
.commandName_e0307d,
.connectContainer_e2a436,
.connectedAccountContainer_ab12c6,
.connection_e2a436,
.containerBackground_ccd3df,
.containerBorderRadius_e5da8b,
.container__13b2a,
.container__23c08,
.container__26dff,
.container__33507,
.container__56cd1,
.container_a11d84,
.container_a2e886,
.container_a3d172,
.container_a47d49,
.container_a74b6f,
.container_a97111,
.container_ac201b,
.container_acb8b3,
.container_b01337,
.container_b1a27b,
.container_b2ca13,
.container_b64375,
.container_b6cd66,
.container_bd2368,
.container_bdea70,
.container_be45f6,
.container_c06a56,
.container_c15230,
.container_c18ec9,
.container_c46051,
.container_c64476,
.container_c67e31,
.container_cc7b67,
.container_d00e26,
.container_d7c696,
.container_d936aa,
.container_d9c848,
.container_da1432,
.container_dce733,
.container_e1e1a4,
.container_e48555,
.container_e5c5d5,
.container_e664f3,
.container_e88961,
.container_eedf95,
.container_effbe2,
.container_f11cbf,
.container_f1c3d9,
.container_f2bfbb,
.container_f51af4,
.container_f8a938,
.container_f91bb7,
.container_ff2ab3,
.container_ffc909,
.contentImage_dc67b6.thumbnail_c64476,
.contentPreview_a57509,
.contentWrapper_af5dbb,
.contentWrapper_eab878,
.contentWrapper_eab878.isBurstReactionPicker_c6ee36,
.contentWrapper_ed5743:only-child,
.contentWrapper_f7506e,
.content_d80634,
.content_f9a4c9,
.copyInput_d7e343,
.coverBadge_I41ZIY,
.credentialList_eaef52,
.css-19vtg9u-control,
.customColorPicker_bbc020,
.datePicker_b71016,
.defaultTextInputWrapper_d274ca,
.descriptionBox_c38f8d,
.detailsBlock_a206c7,
.developerPortalCtaWrapper_cfaf72,
.diversityEmojiItem_cce80d,
.diversitySelectorOptions_cce80d,
.editCard_cd99d3,
.editCard_cd99d3:before,
.effectGridItem_c80296,
.embed_b0068a,
.enableSwitch_abfcad,
.error_dd4615,
.executedCommand_f9f2ca .appLauncherOnboardingCommandName_f9f2ca,
.expandedInfo_a28a08,
.featureBorder_c6d722,
.featureCard_b1a8d5,
.fieldBackground_bd5b94,
.fieldBackground_bd5b94:hover:not(:focus),
.friend_ebf869,
.gif_bad108,
.groupCollapsedContainer_f573e6,
.group_b05c08,
.group_d25d19,
.guildPopout_cf5d0a,
.headerBanner_a1eac2,
.headerImage_a39aa3,
.headerImage_a3a4ce,
.header_fd6364,
.hero_a35965,
.hljs,
.hoverButtonGroup_d0395d,
.howItWorksContainer_aa72d6,
.iconWidget_a9414b,
.imageContainer_fa854f .contentImage_fa854f,
.imageWrapper__178ee,
.innerWrapper_c511e4,
.inner_c36ce4,
.inner_c69a7b,
.input_f4e139,
.input_f8bc55,
.interactive_f5eb4b,
.inviteContainer__4d80b,
.inviteSplash_a71a1c,
.invite_f61cb8,
.itemCard_f02fcf,
.item_d90b3d,
.item_eb92a8,
.item_eef3ef,
.jumpButton_ac3dc2,
.jumpButton_ac90a2,
.key_c90023,
.keywordsTextArea_bdc518,
.languageSelector_d8e2d0,
.lastChannel_f04d06.firstChannel_f04d06,
.learnMoreTipContainer_d0cafb,
.linkCalloutContainer_dd48c5,
.link_d8bfb3,
.listRow_d2d6cb,
.list_e0307d,
.list_f20a46,
.loadingPopout_a8c724,
.mainCard_a6d69a,
.markup_f8f345 pre,
.memberListItem_d22f5a,
.memberRow_fe3229,
.membershipDialog_dc8e43,
.mention,
.mentionLimitContainer_fa2661,
.menu_d90b3d,
.messageAttachmentMediaMosaic__67262,
.messageContainer_ddb5b4,
.messageGroupWrapper_ac90a2,
.messageInputContainer_f2c0a8,
.messagePreviewContainer_b06e1c,
.message_ddcc45,
.messagesPopoutWrap_ac90a2,
.messages_c06487,
.metadataContainer_e2a436,
.modInfoItemContainer_ce9fb9,
.monaco-editor .overflow-guard,
.mosaicItemMediaMosaic_e5c1dc,
.navItem_e462a4,
.noiseCancellationPopout_adcaac,
.notDetected_fd966d,
.nowPlaying_fd966d,
.oauth2Wrapper_c2b22e,
.optionBox_f2f431,
.optionButtonWrapper_bd5e1f,
.optionButton_a9414b,
.optionContainer_e3f8c2,
.optionPill_d4df8b,
.option_b0286e,
.option_b877fa,
.option_f6639d,
.outerWrapper_fe2299,
.overlayBackground_c69a7b,
.overlayTitle_ba4b17,
.overridePlaceholder_cacc4c,
.panels_a4d4d9,
.paymentBanner_a206c7,
.paymentPane_f66684,
.payment_a28a08,
.peopleListItem_d51464.active_d51464,
.peopleListItem_d51464:hover,
.perks_fcea2f,
.permissionChiplet_a507b4,
.permissionItemContainer_f38b88,
.phoneField_f26de7,
.phoneField_f26de7 .countryButton_f26de7,
.picker_cd703d,
.pill_e6f2d0,
.pill_f9575e,
.placeholder_bad108,
.popoutContainer_cf58b5,
.popoutList_da8701,
.popout_a9414b,
.popout_c5b389,
.popout_f6639d,
.popout_f6639d.popoutPositionTop_f6639d,
.premiumMemberCountSwitchContainer_abfcad,
.presetEffectImg_c80296,
.previewChannelRowContent_c5d9bc,
.previewContainer_b74403,
.previewContainer_bdfce3,
.previewContainer_da1bd9,
.previewListItem_aa7c25,
.previewNotice_ca24bf,
.productCard_eb6c38,
.profileBadges_f89da9,
.profileCard_c6b11b,
.progressBarImage_f0a9ff,
.promotionCard_e8af36,
.prompt_c6b11b,
.prompt_cd377c,
.px_a9e77f.botTag_a9e77f,
.qualitySettingsContainer_a78967,
.questsCard_c366aa,
.quickswitcher_f4e139,
.qwert-toast,
.radioBar_eb92a8.radioPositionLeft_eb92a8,
.reactionDefault_f2bfbb,
.reactionSelected_f2bfbb,
.reactionTooltip_fba897,
.reaction_ec6b19,
.reaction_f61c73,
.reactors_f2bfbb,
.recommendedServerCard_ebbdfd,
.rem_a9e77f.botTag_a9e77f,
.requiredPermissionsBanner_f575ef,
.result_bad108,
.result_bad108:after,
.result_e3c1c6,
.roleChiplet_f38b88,
.roleMessagePreview_ecba8f,
.roleRow_a930f1,
.role_d70de6,
.role_e4010c,
.root_cbf230,
.root_f9a4c9,
.row_b53f4f,
.row_c5b389,
.row_e677b7,
.safetyChecklist_abe1fa,
.saturation_a50813 > div,
.saturation_a50813 > div > div,
.scrollableContainer_bdf0de,
.scroller_b91a2d,
.scroller_bc9592,
.scroller_ccc074,
.searchBar_a46bef,
.searchBar_f0963d .searchBarComponent_f0963d,
.searchBox_d83b4d,
.searchResult_ddc613,
.search_aabd24,
.section_ad57ee,
.section_cd82a7:only-child,
.selectGuildPseudoCta_ac4952,
.selectPositionTop_f6639d.open_f6639d,
.select_f6639d,
.selectableItem_d40acf,
.selected_cc7518,
.selectionBox_bd3462,
.setCustomButton_a9414b,
.settingCard_dd864e,
.shc-lock-screen-allowed-users-and-roles-container,
.shiki-btn:last-child,
.shiki-root,
.side_a0 .item_a0,
.simpleItemWrapper_e1b877,
.soundButtonSettingContainer_c801bb,
.soundButton_f40049,
.sourceThumbnail_d7ec26,
.spamBanner_c1da2c,
.splashContainer_e825f6,
.stackedBars_bdf0de,
.statusBubbleSingleLineWithTextShape_af9888,
.stepperContainer_fa2661,
.stepper_fa2661,
.streamPreview_adbea6,
.swatch_c66781,
.tab_ff1414,
.table_df16c1,
.tag_effbe2,
.termsFieldBody_cd377c,
.testimonialHeroContainer_d3081b,
.textArea_bd9c39,
.tierHeaderWithoutCardBody_da77bd,
.tile_ab47a1,
.tile_dc5fc4,
.toast_g4bfgI,
.toolbar_de3e42,
.tooltip_adde9d,
.tooltip_b6c360,
.topPill_a0 .item_a0,
.topicsDropdownBase_cf58b5,
.triggerMainContainer_df95ff,
.twitchSectionPreview_cd82a7,
.uploadButton_f8e959,
.upload_df1eaf,
.upsellBanner_f59576,
.upsellContainer_bb33d5,
.upsellOverlay_eb49af,
.upsellPreview_aa7c25,
.upsell_b6ac1a,
.userCardInner_c69a7b,
.userPopoutInner_c69a7b,
.userPopoutInner_c69a7b:before,
.userPopoutOverlayBackground_c69a7b,
.userProfileInner_c69a7b,
.userProfileModalInner_c69a7b:before,
.userProfileOuterThemed_c69a7b,
.userProfileOuter_c69a7b,
.vc-error-card,
.vc-permviewer-perms-list-item,
.visualMediaItemContainer_cda674,
.voiceChannelsButton_a08117,
.votePercentageBar_cf2c85,
.warningContainer_d02bd8,
.withTagAsButton_b2ca13,
.withTagless_b2ca13,
.wrapperAudio_f316dd.newMosaicStyle_f316dd,
.wrapper_a71a1c,
.wrapper_a7c28c,
.wrapper_b877fa,
.wrapper_bf1b19,
.wrapper_c01868,
.wrapper_c43059,
.wrapper_c6ee36,
.wrapper_c6ee36.isBurstReactionPicker_c6ee36,
.wrapper_c6ee36.isBurstReactionPicker_c6ee36:before,
.wrapper_d1fdce,
.wrapper_d4ec61,
.wrapper_d4fa29,
.wrapper_d8bfb3,
.wrapper_e55051,
.wrapper_f7e168,
.wrapper_faf5ab,
:where(.outer_c69a7b).biteSize_c69a7b,
div#anchor {
  border-radius: var(--radius);
}
#replugged-quickcss-wrapper .cm-editor,
.audioControls_f316dd,
.avatarWrapper_b2ca13,
.better-codeblocks,
.callContainer_d880dc,
.headerClickable_eebd33,
.replugged-addon-card,
.replugged-updater-item,
.vc-addon-card,
.vc-notification-root,
.vc-st-modal-content input,
.Í¼1 .cm-scroller,
:is(.vc-settings-theme-grid, .vc-plugins-grid) .vc-addon-card .vc-addon-note {
  border-radius: var(--radius) !important;
}
#bd-editor-controls,
#vc-spotify-player,
.activityPanel_a4d4d9,
.bannerSVGWrapper_b32cc2:not(:has([style*="image"])) [style*="background-color"],
.banner_d29eee,
.bd-modal-header,
.cardHeader_dedfd1,
.card_fe1b7e,
.commandContainer_f37ac2 .command_f37ac2:first-child,
.connectionHeader_e2a436,
.container_adcaac,
.container_fc4f04,
.deny_b05c08,
.deny_d25d19,
.disabledButtonWrapper_dd4f85,
.firstChannel_f04d06,
.gradient_e74e54,
.guildSidebar_a74b6f,
.headerImage_fe5d81,
.header_c6ee36,
.header_eebd33,
.header_f9a4c9,
.item_aa2afb:first-child,
.jumpToPresentBar_cf58b5,
.modalTextContainer_d8e2d0,
.newMosaicStyle_d8e2d0 .textContainer_d8e2d0,
.popoutContentWrapper_a35965,
.roundedBanner_c3e427,
.roundedRow_a39fe9 td:first-child,
.rowContainer_e5da8b:first-child,
.row_c2f3ef:first-child,
.splashImage_b5d566,
.tierHeaderLocked_da77bd,
.tierHeaderUnlocked_da77bd,
.topicsDropdownHeading_cf58b5,
.upsellContent_d0de76,
.vc-gp-banner,
.withFooter_a0eae1 {
  border-radius: var(--radius) var(--radius) 0 0;
}
#replugged-quickcss-wrapper .cm-gutters,
.backdrop_accde0,
.bd-controls > .bd-addon-button:first-of-type,
.contentWrapper_ed5743,
.deny_b05c08,
.deny_d25d19,
.guildSidebar_a74b6f,
.item_aa2afb:first-child,
.optionPillKey_d4df8b,
.roundedRow_a39fe9 td:first-child,
.scroller_f2bfbb,
.searchFilter_b0fa94,
.sidebarContainer_e5b5f9 {
  border-radius: var(--radius) 0 0 var(--radius);
}
.allow_b05c08,
.allow_d25d19,
.bd-controls > .bd-addon-button:last-of-type,
.inviteSplash_ed5743,
.item_aa2afb:last-child,
.modal_a74b6f,
.roundedRow_a39fe9 td:last-child {
  border-radius: 0 var(--radius) var(--radius) 0;
}
.animatedContainer_fd6364,
.bd-modal-footer,
.changeDetails_eebd33,
.commandContainer_f37ac2 .command_f37ac2:last-child,
.emojiPicker_c6ee36,
.footerContainer_bc2461,
.footer_c5a065,
.footer_d8e2d0,
.footer_f9a4c9,
.interactionsContainer_a35965,
.lastChannel_f04d06,
.monaco-editor,
.navButtons_cd377c,
.navRow_be9398,
.newMessagesBar_cf58b5,
.newMosaicStyle_d8e2d0 .footer_d8e2d0,
.newTopicsBarContainer_cf58b5,
.root_b93e3f > :last-child,
.rowContainer_e5da8b:last-child,
.row_c2f3ef:last-child,
.scroller_fca846,
.searchHeader_b7c924,
.selectPositionTop_f6639d.open_f6639d,
.temporaryMembershipContainerBackground_cedfaf,
.threadSuggestionBar_b11c5e,
.tierBody_da77bd,
.tooltipPremiumFooterContainer_d56d78,
.topicsPillContainer_cf58b5,
.topicsScroller_cf58b5,
.uploadModal_f82cc7 .footer_f82cc7,
.upsellFooter_d0de76,
.videoControls_f316dd {
  border-radius: 0 0 var(--radius) var(--radius);
}
.wrapper_adcaac:has(.container_adcaac) ~ .container_b2ca13 {
  border-radius: 0 0 var(--radius) var(--radius) !important;
}
.modal_a74b6f .footer_f9a4c9 {
  border-radius: 0 0 var(--radius) 0;
}
.activityPanel_a4d4d9 ~ .wrapper_adcaac .container_adcaac,
.content_f9a4c9.body_bf926b.thin_eed6a8.scrollerBase_eed6a8,
.floating-window #bd-editor-controls,
.floating-window .monaco-editor,
.formContainer_c1668f .channelTextAreaInner_c1668f,
.formContainer_c1668f .title_c1668f,
.root_b93e3f .body_bf926b {
  border-radius: 0 !important;
}
.categoryList_c6ee36,
.wrapper_ba23fe {
  border-bottom-left-radius: var(--radius);
}
.tutorialContainer_f9623d,
.wrapper_bc7085 {
  margin-top: 8px;
}
.resizeHandle_d1c246 {
  width: 0;
}
.applicationStore_cecc86,
.chat_a7d72e,
.containerSidenav_d576e9,
.container_c2739c,
.container_cac32e,
.container_d1c246,
.container_d746e5,
.container_fca846,
.main_d8215a,
.pageWrapper_a3a4ce,
.shop_e77fa3,
.sidebarContainer_d2194f {
  border-radius: var(--radius);
  margin: 10px 10px 10px 5px;
}
.sidebar_a4d4d9 {
  border-radius: var(--radius) !important;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px !important;
  margin-top: 10px;
}
.wrapper_fea3ef {
  background-color: var(--background-secondary);
  border-radius: var(--radius);
  margin: 10px 5px 10px 10px;
}
.channelChatWrapper_d880dc {
  border-radius: var(--radius);
  margin: -10px -5px -10px 5px;
}
.container_a1531c {
  border-radius: var(--radius);
  margin: 10px 5px 10px 10px;
}
.answerInner_cf2c85 {
  margin-left: 10px;
  margin-right: 5px;
}
.chat_a7d72e.threadSidebarOpen_a7d72e {
  border-radius: var(--radius);
  margin-right: 5px;
}
div.profileThemedContainer_d2194f {
  border-radius: var(--radius);
  margin-bottom: 20px;
}
.notice_be03aa {
  margin-left: 5px;
}
.editor_bcfa1e,
.notice_be03aa,
.themeEditor_c9dda6 {
  border-radius: var(--radius);
  margin-right: 10px;
  margin-top: 10px;
}
.editor_bcfa1e,
.themeEditor_c9dda6 {
  border-left: 0 !important;
  height: auto !important;
  margin-bottom: 10px;
}
.shop_e77fa3 {
  height: 97.5% !important;
}
.shopScroll_e77fa3 {
  border-radius: var(--radius);
  margin-bottom: 10px;
}
.container_ee69e0,
.privateChannels_f0963d {
  border-radius: var(--radius);
  margin-bottom: 5px;
}
.bd-notice {
  margin-right: 10px;
  margin-top: 10px;
}
.bd-notice,
.wrapper_fea3ef.guilds_a4d4d9.content_Pph8t6 {
  margin-left: 5px;
}
.platform-osx .content-Pph8t6:not(.hidden_fea3ef) {
  margin-top: 10px;
}
.content_Pph8t6.closed_j55_T- {
  display: none;
}
.bd-modal-content {
  margin-right: 16px;
}
[style*="display: flex;"]:has(.wrapper_fea3ef.guilds_a4d4d9) {
  margin-left: -5px;
  margin-right: 15px;
}
.shiki-btn:last-child {
  margin-bottom: 5px;
  margin-right: 5px;
}
.vc-bf-folder-sidebar [class*="expandedFolderBackground-"] {
  background: unset !important;
}
.platform-osx .vc-bf-folder-sidebar {
  margin-top: -22px;
}
.better-codeblocks-btn:last-child {
  border-radius: var(--radius) !important;
  margin: 5px;
}
.foldersRedesigned-sidebar {
  margin-left: 0 !important;
  margin-right: 10px;
  padding-left: 5px !important;
}
.categoryItemDefaultCategory_dfa278 {
  border-radius: 8px;
}
.cozy_f9f2ca.hasThread_f9f2ca:after {
  border-bottom-left-radius: var(--radius) !important;
}
.suggestedColor__713b5 {
  border-radius: 10px;
}
.userProfileOuterUnthemed_c69a7b {
  background: none;
  border-radius: var(--radius);
}
.layout_d808b0 {
  border-radius: 20px;
  margin-bottom: 1px;
  margin-top: 1px;
}
.controlButton_b6e2f9 > svg > foreignObject {
  mask: none;
}
.bottomControls_dd069c .button_dd4f85 {
  border-radius: 30px !important;
}
.channelTextArea_a7d72e {
  background-color: unset;
}
.inviteRow_cedfaf {
  border-radius: var(--radius);
  margin-right: 0 !important;
}
.inviteRowButton_cedfaf {
  margin-right: -5px !important;
}
.sidebar_a4d4d9 {
  background: unset;
}
.footer_d71945 {
  margin-top: auto;
}
.categoryFade_af1167:hover {
  backdrop-filter: none;
}
.panels_a4d4d9var {
  background: var(--bg-overlay-1, var(--background-secondary-alt));
}
.custom-theme-background .scroller_fea3ef,
.expandedFolderBackground_bc7085 {
  background: var(--bg-overlay-3, var(--background-secondary)) !important;
}
.theme-dark.custom-theme-background .channelTextArea_a7d72e {
  background: var(--bg-overlay-1, var(--background-secondary)) !important;
}
.theme-light.custom-theme-background .channelTextArea_a7d72e {
  background: var(--bg-overlay-2, var(--background-secondary)) !important;
}
.channelTextArea_a7d72e {
  background: var(--background-secondary) !important;
}
.theme-light.custom-theme-background .panels_a4d4d9 {
  background: var(--bg-overlay-3);
}
.theme-dark.custom-theme-background .panels_a4d4d9 {
  background: var(--bg-overlay-1);
}
.panels_a4d4d9 {
  background: var(--background-secondary-alt);
}
.profileCustomizationSection_bad983 .biteSizeBannerPremium_c3e427 {
  max-width: 292px;
}
.profileCustomizationSection_bad983 .clickable_eebaf6:hover {
  border-radius: var(--radius) var(--radius) 0 0;
  max-width: 292px;
}
.actionButtons_adcaac > div > span {
  background: transparent !important;
}
